<!-- Management for an account. -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../offshore-shared-styles.html">
<link rel="import" href="../components/offshore-input.html">

<dom-module id="offshore-account">
  <template>
    <style include="offshore-shared-styles">
      :host {
        @apply --layout-horizontal;
        @apply --layout-center-justified;
        height: 100%;
      }

      section {
        width: 50%;
        min-width: 500px;
      }

      paper-tab {
        background-color: #006284;
        color: white;
      }

      paper-tab.iron-selected {
        color: #FFC408;
      }

      paper-button {
        height: 42px;
      }

      #organizationContainer {
        @apply --layout-vertical;
      }

      .action-row {
        @apply --layout-horizontal;
        @apply --layout-center;
        padding: 16px 0 16px 0;
      }

      .organization-row {
        @apply --layout-horizontal;
        @apply --layout-center;
        padding: 16px 8px 16px 8px;
      }

      .organization-name {
        @apply --layout-flex;
      }

      .organization-row:hover {
        background-color: #A5DEE4;
      }

      .buttons-row {
        @apply --layout-horizontal;
      }

      #spinner {
        margin: auto;
      }

      /* mobile */

      @media screen and (max-width: 575px) {
        section {
          width: 100%;
          min-width: 0;
        }

        .action-row {
          @apply --layout-vertical;
          align-items: initial;
        }

        .buttons-row>paper-button {
          flex: 1;
        }
      }
    </style>

    <iron-ajax 
      id="getAccountAjax" 
      url="https://offshorewebapp.herokuapp.com/user/me" 
      method="GET" 
      content-type="application/json"
      handle-as="json" 
      on-response="_handleGetAccountResponse" 
      on-error="_handleGetAccountError">
    </iron-ajax>
    <iron-ajax 
      id="updateProfileAjax" 
      url="https://offshorewebapp.herokuapp.com/profile/update" 
      method="PUT" 
      content-type="application/json"
      handle-as="json" 
      on-response="_handleUpdateProfileResponse" 
      body="{{updateProfileData}}">
    </iron-ajax>
    <iron-ajax 
      id="createOrganizationAjax" 
      url="https://offshorewebapp.herokuapp.com/organisation/create" 
      method="POST" 
      content-type="application/json"
      handle-as="json" 
      on-response="_handleCreateOrganizationResponse">
    </iron-ajax>
    <iron-ajax 
      id="leaveOrganizationAjax" 
      url="https://offshorewebapp.herokuapp.com/organisation/remove_member/{{organizationToLeave}}" 
      method="POST" 
      content-type="application/json"
      handle-as="json" 
      on-response="_handleLeaveOrganizationResponse">
    </iron-ajax>

    <section>
      <h2>Account</h2>
      <!-- navigation -->
      <paper-tabs selected="{{selected}}" noink>
        <paper-tab>Profile</paper-tab>
        <paper-tab>Organization</paper-tab>
      </paper-tabs>
      <!-- content -->
      <iron-pages selected="{{selected}}">
        <!-- profile -->
        <div id="profileContainer">
          <offshore-input 
            label-data="Username" 
            value-data="{{userData.username}}" 
            icon-data="face" 
            require-data="true" 
            error-data="{{usernameError}}">
          </offshore-input>
          <offshore-input 
            label-data="Email" 
            value-data="{{userData.email}}" 
            icon-data="mail" 
            require-data="true" 
            error-data="{{emailError}}" 
            readonly>
          </offshore-input>
          <offshore-input 
            label-data="Fist Name" 
            value-data="{{userData.firstname}}" 
            icon-data="account-box" 
            require-data="false">
          </offshore-input>
          <offshore-input 
            label-data="Last Name" 
            value-data="{{userData.lastname}}" 
            icon-data="account-box" 
            require-data="false">
          </offshore-input>
          <offshore-input 
            label-data="Country" 
            value-data="{{userData.country}}" 
            icon-data="language" 
            require-data="false">
          </offshore-input>
          <offshore-input 
            label-data="Telefone" 
            value-data="{{userData.telephone}}" 
            icon-data="communication:phone" 
            require-data="false">
          </offshore-input>
          <div class="action-row">
            <paper-button raised id="updateProfileButton" on-click="_updateProfile">Update</paper-button>
          </div>
        </div>
        <!-- organization -->
        <div id="organizationContainer">
          <div class="action-row">
            <offshore-input 
              id="organizationNameInput" 
              class="organization-name" 
              label-data="Organization Name" 
              value-data="{{newOrganization}}"
              icon-data="work" 
              require-data="false">
            </offshore-input>
            <div class="buttons-row">
              <paper-button raised id="createOrganizationButton" on-click="_createOrganization">Create</paper-button>
            </div>
          </div>
          <br>
          <h3>My Organizations</h3>
          <paper-spinner id="spinner" active>...</paper-spinner>
          <template is="dom-repeat" items="{{organizationData}}">
            <div class="organization-row">
              <span class="organization-name">{{item.name}}</span>
              <paper-button raised on-click="_manageOrganization">Manage</paper-button>
              <paper-button raised data-orgaid$="{{item.id}}" on-click="_leaveOrganization">Leave</paper-button>
              <input type="hidden" name="organizationId" value="{{item.id}}">
            </div>
          </template>
        </div>
      </iron-pages>
    </section>
  </template>

  <script>
    class OffShoreAccount extends Polymer.Element {
      static get is() { return 'offshore-account'; }

      static get properties() {
        return {
          userData: {
            type: Object,
            notify: true
          },
          tokenData: {
            type: String,
            observer: '_tokenDataChanged',
            notify: true
          },
          updateProfileData: {
            type: Object,
            value: {}
          },
          usernameError: Boolean,
          emailError: Boolean,
          selected: {
            type: Number,
            value: 0
          },
          organizationData: {
            type: Object,
            notify: true,
            observer: '_organizationDataChange'
          },
          newOrganization: String,
          projectDataChanged: {
            type: Boolean,
            notify: true
          },
          projectData: {
            type: Object,
            notify: true
          },
          organizationToLeave: String
        };
      }

      _updateProfile() {
        this.$.updateProfileButton.disabled = true;
        this.set('updateProfileData.firstname', this.userData.firstname);
        this.set('updateProfileData.lastname', this.userData.lastname);
        this.set('updateProfileData.country', this.userData.country);
        this.set('updateProfileData.telephone', this.userData.telephone);
        this.$.updateProfileAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
        this.$.updateProfileAjax.generateRequest();
      }

      _handleGetAccountResponse(e) {
        this.set('userData.firstname', e.detail.response.user.profile[0].firstname);
        this.set('userData.lastname', e.detail.response.user.profile[0].lastname);
        this.set('userData.email', e.detail.response.user.email);
        this.set('userData.username', e.detail.response.user.username);
        this.set('userData.country', e.detail.response.user.profile[0].country);
        this.set('userData.telephone', e.detail.response.user.profile[0].telephone);
      }

      _handleGetAccountError(e) {
        if (e.detail.request.xhr.status == 400) {
          this._logout();
        }
      }

      _logout() {
        // TODO: also clear the rest of the data, like projects, currentproject, etc...
        this.userData = {};
        this.tokenData = '';
        // reload to reset everything
        window.location = '/';
      }

      _handleUpdateProfileResponse(e) {
        this.$.updateProfileButton.disabled = false;
      }

      _handleCreateOrganizationResponse(e) {
        this.$.createOrganizationButton.disabled = false;
        this.push('organizationData', e.detail.response.organisation);
        let orgaInProjectData = e.detail.response.organisation;
        orgaInProjectData.projects = [];
        this.push('projectData', orgaInProjectData);
        this.set('newOrganization', '');
        this.set('projectDataChanged', true);
      }

      _tokenDataChanged() {
        if (this.tokenData !== '' && typeof this.tokenData !== 'undefined') {
          this.$.getAccountAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
          this.$.getAccountAjax.generateRequest();
        }
      }

      _createOrganization() {
        this.$.createOrganizationButton.disabled = true;
        let organization = {
          name: this.newOrganization
        };
        this.$.createOrganizationAjax.body = organization;
        this.$.createOrganizationAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
        this.$.createOrganizationAjax.generateRequest();
      }

      _manageOrganization(e) {
        this.set('route.path', '/organization');
        this.set('route.__queryParams', { organizationId: e.target.parentElement.getElementsByTagName('input')[0].value });
      }

      _leaveOrganization(e, d) {
        e.target.disabled = true;
        this.set('organizationToLeave', e.currentTarget.dataset.orgaid);
        this.$.leaveOrganizationAjax.body = {
          email: this.userData.email
        };
        this.$.leaveOrganizationAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
        this.$.leaveOrganizationAjax.generateRequest();
      }

      _handleLeaveOrganizationResponse(e) {
        var organizationIndex = this.organizationData.findIndex(orga => orga.id == this.organizationToLeave);
        var organizationIndexInProjectData = this.projectData.findIndex(orga => orga.id == this.organizationToLeave);
        this.splice('organizationData', organizationIndex, 1);
        this.splice('projectData', organizationIndexInProjectData, 1);
        this.set('projectDataChanged', true);
      }

      _organizationDataChange() {
        if (typeof this.organizationData !== 'undefined') {
          this.$.spinner.style.display = 'none';
        }
      }
    }

    customElements.define(OffShoreAccount.is, OffShoreAccount);
  </script>
</dom-module>