<!-- 404 page. -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../offshore-shared-styles.html">

<dom-module id="offshore-404">
  <template>
    <style include="offshore-shared-styles">
      section {
        @apply --layout-vertical;
        @apply --layout-center-center;
        height: calc(100vh - 64px);
        width: 100vw;
        background-image: url('https://i.ytimg.com/vi/BjChPYhfucg/maxresdefault.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: #ffffff;
      }
    </style>

    <section></section>
  </template>

  <script>
    class OffShore404 extends Polymer.Element {
      static get is() { return 'offshore-404'; }
    }

    customElements.define(OffShore404.is, OffShore404);
  </script>
</dom-module>