<!-- Management of an organization. -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../offshore-shared-styles.html">
<link rel="import" href="../components/offshore-input.html">

<dom-module id="offshore-organization">
  <template>
    <style include="offshore-shared-styles">
      :host {
        @apply --layout-horizontal;
        @apply --layout-center-justified;
        height: 100%;
      }

      section {
        width: 50%;
        min-width: 500px;
        overflow-y: auto;
      }

      .action-row,
      .rename-row {
        @apply --layout-horizontal;
        @apply --layout-center;
        padding: 16px 0 16px 0;
      }

      .member-row {
        @apply --layout-horizontal;
        @apply --layout-center;
        padding: 16px 8px 16px 8px;
      }

      .user-name,
      .rename-row>offshore-input {
        @apply --layout-flex;
      }

      .member-row:hover {
        background-color: #A5DEE4;
      }

      .warn {
        background-color: #CB1B45;
        color: white;
      }

      .buttons-row {
        @apply --layout-horizontal;
        height: 42px;
        margin: 10px 0 10px 0;
      }

      /* mobile */

      @media screen and (max-width: 575px) {
        section {
          width: 100%;
          min-width: 0
        }
      }
    </style>

    <iron-ajax 
      id="getOrganizationAjax" 
      url="https://offshorewebapp.herokuapp.com/organisation/{{queryParams.organizationId}}"
      method="GET" 
      content-type="application/json" 
      handle-as="json" 
      on-response="_handleGetOrganizationResponse">
    </iron-ajax>
    <iron-ajax 
      id="addMemberAjax" 
      url="https://offshorewebapp.herokuapp.com/organisation/add_member/{{queryParams.organizationId}}"
      method="POST" 
      content-type="application/json" 
      handle-as="json" 
      on-response="_handleAddMemberResponse">
    </iron-ajax>
    <iron-ajax 
      id="removeMemberAjax" url="https://offshorewebapp.herokuapp.com/organisation/remove_member/{{queryParams.organizationId}}"
      method="POST" 
      content-type="application/json" 
      handle-as="json" 
      on-response="_handleRemoveMemberResponse">
    </iron-ajax>
    <iron-ajax 
      id="deleteOrganizationAjax" 
      url="https://offshorewebapp.herokuapp.com/organisation/delete/{{queryParams.organizationId}}"
      method="DELETE" 
      content-type="application/json" 
      handle-as="json" 
      on-response="_handleDeleteOrganizationResponse">
    </iron-ajax>
    <iron-ajax 
      id="updateOrganizationAjax" 
      url="https://offshorewebapp.herokuapp.com/organisation/update/{{queryParams.organizationId}}"
      method="PUT" 
      content-type="application/json" 
      handle-as="json" 
      on-response="_handleUpdateOrganizationResponse">
    </iron-ajax>

    <section>
      <h1>Organization</h1>
      <div class="rename-row">
        <offshore-input 
          label-data="Organization Name" 
          value-data="{{organizationName}}" 
          icon-data="editor:title" 
          require-data="true"
          error-data="{{organizationNameError}}">
        </offshore-input>
        <paper-button raised id="renameButton" on-click="_rename">Rename</paper-button>
      </div>
      <h3>Members</h3>
      <div class="action-row">
        <offshore-input 
          class="user-name" 
          label-data="E-Mail" 
          value-data="{{newMember}}" 
          icon-data="mail" 
          require-data="false">
        </offshore-input>
        <paper-button raised id="addMemberButton" on-click="_addMember">Add</paper-button>
      </div>
      <template is="dom-repeat" items="{{members}}">
        <div class="member-row">
          <span class="user-name">{{item.username}}</span>
          <template is="dom-if" if="{{_iamthis(item.username)}}">
            <paper-button class="removebutton" raised on-click="_removeMember">Remove</paper-button>
          </template>
          <input type="hidden" name="email" value="{{item.email}}">
        </div>
      </template>
      <div class="buttons-row">
        <paper-button raised on-click="_toAccount">Finish</paper-button>
        <paper-button class="warn" raised on-click="_deleteOrganization">Delete Organization</paper-button>
      </div>
    </section>
  </template>

  <script>
    class OffShoreOrganization extends Polymer.Element {
      static get is() { return 'offshore-organization'; }

      static get properties() {
        return {
          organizationName: String,
          members: Object,
          organizationNameError: Boolean,
          tokenData: {
            type: String,
            observer: '_tokenDataChanged',
            notify: true
          },
          queryParams: {
            type: Object,
            observer: '_organizationIdChanged',
            notify: true
          },
          newMember: String,
          organizationData: {
            type: Object,
            notify: true
          },
          projectDataChanged: {
            type: Boolean,
            notify: true
          },
          projectData: {
            type: Object,
            notify: true
          },
          userData: {
            type: Object,
            notify: true
          }
        };
      }

      _tokenDataChanged() {
        if (this.tokenData !== '' && typeof this.tokenData !== 'undefined' && typeof this.queryParams !== 'undefined' && this.queryParams.organizationId !== '' && typeof this.queryParams.organizationId !== 'undefined') {
          this.$.getOrganizationAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
          this.$.getOrganizationAjax.generateRequest();
        }
      }

      _organizationIdChanged() {
        if (this.tokenData !== '' && typeof this.tokenData !== 'undefined' && typeof this.queryParams !== 'undefined' && this.queryParams.organizationId !== '' && typeof this.queryParams.organizationId !== 'undefined') {
          this.$.getOrganizationAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
          this.$.getOrganizationAjax.generateRequest();
        }
      }

      _handleGetOrganizationResponse(e) {
        this.set('organizationName', e.detail.response.organisation.name);
        this.set('members', e.detail.response.organisation.members);
      }

      _handleAddMemberResponse(e) {
        this.$.addMemberButton.disabled = false;
        this.$.getOrganizationAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
        this.$.getOrganizationAjax.generateRequest();
        this.set('newMember', '');
      }

      _handleRemoveMemberResponse(e) {
        this.shadowRoot.querySelectorAll('.removebutton').forEach(el => {
          el.disabled = false;
        });
        this.$.getOrganizationAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
        this.$.getOrganizationAjax.generateRequest();
      }

      _handleDeleteOrganizationResponse() {
        var organizationIndex = this.organizationData.findIndex(orga => orga.id == this.queryParams.organizationId);
        var organizationIndexInProjectData = this.projectData.findIndex(orga => orga.id == this.queryParams.organizationId);
        this.splice('organizationData', organizationIndex, 1);
        this.splice('projectData', organizationIndexInProjectData, 1);
        this.set('projectDataChanged', true);
        this._toAccount();
      }

      _handleUpdateOrganizationResponse() {
        this.$.renameButton.disabled = false;
      }

      _addMember() {
        this.$.addMemberButton.disabled = true;
        let newUser = {
          email: this.newMember
        };
        this.$.addMemberAjax.body = newUser;
        this.$.addMemberAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
        this.$.addMemberAjax.generateRequest();
      }

      _removeMember(e) {
        e.target.disabled = true;
        let deleteUser = {
          email: e.target.parentNode.getElementsByTagName('input')[0].value
        };
        this.$.removeMemberAjax.body = deleteUser;
        this.$.removeMemberAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
        this.$.removeMemberAjax.generateRequest();
      }

      _deleteOrganization() {
        if (confirm('Once you delete an organization, there is no going back.')) {
          this.$.deleteOrganizationAjax.body = {};
          this.$.deleteOrganizationAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
          this.$.deleteOrganizationAjax.generateRequest();
        }
      }

      _toAccount() {
        this.set('route.path', '/account');
      }

      _rename() {
        this.$.renameButton.disabled = true;
        let organization = {
          name: this.organizationName
        };
        this.$.updateOrganizationAjax.body = organization;
        this.$.updateOrganizationAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
        this.$.updateOrganizationAjax.generateRequest();
      }

      _iamthis(username) {
        return this.userData.username != username;
      }
    }

    customElements.define(OffShoreOrganization.is, OffShoreOrganization);
  </script>
</dom-module>