<!-- Contains all subpages of projects. -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-icon-item.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../../bower_components/iron-grid/iron-grid.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../offshore-shared-styles.html">
<link rel="import" href="../pages/projects/offshore-dashboard.html">
<link rel="import" href="../pages/projects/offshore-visualization.html">
<link rel="import" href="../pages/projects/offshore-settings.html">
<link rel="import" href="../pages/projects/offshore-create.html">
<link rel="import" href="../pages/projects/offshore-map.html">

<dom-module id="offshore-projects">
  <template>
    <style include="offshore-shared-styles">
      iron-grid {
        height: 100%;
      }

      #menuContainer,
      #contentContainer {
        @apply --layout-vertical;
        height: 100%;
      }

      #contentContainer {
        flex: 1;
        /*overflow-y: scroll;*/
      }

      #menuContainer,
      paper-listbox {
        background-color: #81C7D4;
      }

      #menuContainer>paper-icon-button {
        margin-left: 8px;
      }

      paper-listbox {
        padding: 0;
      }

      iron-pages {
        height: 100%;
      }

      #textMenu>paper-icon-item {
        padding-right: 24px;
      }

      paper-icon-item[name='dashboard'] {
        /*border-bottom: 1px solid black;*/
      }

      paper-icon-item {
        cursor: pointer;
      }

      paper-icon-item[aria-selected='true'] {
        background-color: #62b0bc;
        border-left: 4px solid #265960;
        padding-left: 12px;
      }

      .menuDivider {
        flex-grow: 1;
        border-bottom: 1px solid black;
      }

      #iconMenuCollapseButton {
        height: 48px;
      }

      #projectName {
        @apply --layout-horizontal;
        @apply --layout-center;
        color: black;
        padding-left: 16px;
        height: 48px;
        pointer-events: none;
      }

      #iconMenu {
        width: 54px;
      }

      iron-pages {
        width: 100%;
      }
    </style>

    <iron-grid>
      <div id="menuContainer">
        <!-- menu with text -->
        <paper-listbox 
          id="textMenu" 
          selected="{{currentMenu}}" 
          attr-for-selected="name">
          <paper-icon-item name="dashboard">
            <iron-icon icon="apps" slot="item-icon"></iron-icon>Dashboard
          </paper-icon-item>
          <template is="dom-if" if="{{currentProject.name}}">
            <div id="projectName">[[currentProject.name]]</div>
            <paper-icon-item name="visualization">
              <iron-icon icon="image:image" slot="item-icon"></iron-icon>Visualization
            </paper-icon-item>
            <paper-icon-item name="settings">
              <iron-icon icon="settings" slot="item-icon"></iron-icon>Settings
            </paper-icon-item>
          </template>
        </paper-listbox>
        <!-- menu without text -->
        <paper-listbox 
          id="iconMenu" 
          class="hidden" 
          selected="{{currentMenu}}" 
          attr-for-selected="name">
          <paper-icon-item name="dashboard">
            <iron-icon name="dashboard" icon="apps" slot="item-icon"></iron-icon>
          </paper-icon-item>
          <template is="dom-if" if="{{currentProject.name}}">
            <paper-icon-item name="visualization">
              <iron-icon icon="image:image" slot="item-icon"></iron-icon>
            </paper-icon-item>
            <paper-icon-item name="settings">
              <iron-icon icon="settings" slot="item-icon"></iron-icon>
            </paper-icon-item>
          </template>
        </paper-listbox>
        <div class="menuDivider"></div>
        <paper-icon-item name="collapse" id="textMenuCollapseButton" on-click="_toggleMenu">
          <iron-icon icon="chevron-left" slot="item-icon"></iron-icon>Collapse Sidebar
        </paper-icon-item>
        <paper-icon-button id="iconMenuCollapseButton" icon="chevron-right" class="hidden" on-click="_toggleMenu"></paper-icon-button>
      </div>

      <!-- content -->
      <div id="contentContainer">
        <iron-pages selected="{{currentMenu}}" attr-for-selected="name">
          <offshore-dashboard 
            name="dashboard" 
            token-data="{{tokenData}}" 
            current-menu="{{currentMenu}}" 
            project-data="{{projectData}}"
            current-project="{{currentProject}}" 
            organization-data="{{organizationData}}" 
            project-data-changed="{{projectDataChanged}}"  
            projects-need-reload="{{projectsNeedReload}}" 
            dashboard-notice="{{dashboardNotice}}">
          </offshore-dashboard>
          <offshore-visualization 
            name="visualization" 
            current-project="{{currentProject}}" 
            current-menu="{{currentMenu}}">
          </offshore-visualization>
          <offshore-settings 
            name="settings" 
            current-project={{currentProject}} 
            organization-data="{{organizationData}}" 
            visualization-json="{{visualizationJson}}"
            token-data="{{tokenData}}" 
            route="{{route}}" 
            project-data-changed="{{projectDataChanged}}" 
            project-data="{{projectData}}" 
            project-data-changed="{{projectDataChanged}}">
          </offshore-settings>
          <offshore-create 
            name="create" 
            token-data="{{tokenData}}" 
            project-data="{{projectData}}" 
            organization-data="{{organizationData}}"
            route="{{route}}"
            project-data-changed="{{projectDataChanged}}">
          </offshore-create>
          <offshore-map 
            name="map" 
            project-data="{{projectData}}" 
            project-data-changed="{{projectDataChanged}}" 
            map="{{map}}"
            token-data="{{tokenData}}" 
            project-data-changed="{{projectDataChanged}}">
          </offshore-map>
        </iron-pages>
      </div>
    </iron-grid>
  </template>

  <script>
    class OffShoreProjects extends Polymer.Element {
      static get is() { return 'offshore-projects'; }

      static get properties() {
        return {
          currentMenu: {
            type: String,
            notify: true
          },
          projectData: {
            type: Object,
            notify: true
          },
          currentProject: {
            type: Object,
            notify: true
          },
          settingsData: {
            type: Object,
            observer: '_settingsDataChanged',
            notify: true,
            value: {
              showProjectMenu: true
            }
          },
          organizationData: {
            type: Object,
            notify: true
          },
          visualizationJson: {
            type: Object,
            notify: true
          },
          tokenData: {
            type: String,
            observer: '_tokenDataChanged',
          },
          route: {
            type: Object,
            notify: true
          },
          projectDataChanged: {
            type: Boolean,
            notify: true
          },
          dashboardNotice: String,
          map: Object,
          projectsNeedReload: {
            type: String,
            notify: true
          }
        };
      }

      static get observers() {
        return [
          '_tokenDataChanged()',
          '_settingsDataChanged()'
        ];
      }

      _toggleMenu() {
        if (this.map) {
          this.map.resize();
        }
        this.set('settingsData.showProjectMenu', !this.settingsData.showProjectMenu);
        this.$.textMenu.classList.toggle('hidden');
        this.$.iconMenu.classList.toggle('hidden');

        this.$.textMenuCollapseButton.classList.toggle('hidden');
        this.$.iconMenuCollapseButton.classList.toggle('hidden');

        // Trigger canvas resize on sidebar toggle
        visu_onWindowResize();

        window.dispatchEvent(new Event('resize'));
      }

      _settingsDataChanged() {
        if (typeof this.settingsData.showProjectMenu !== 'undefined') {
          if (this.settingsData.showProjectMenu) {
            this.$.textMenu.classList.remove('hidden');
            this.$.textMenuCollapseButton.classList.remove('hidden');
            this.$.iconMenu.classList.add('hidden');
            this.$.iconMenuCollapseButton.classList.add('hidden');
          } else {
            this.$.textMenu.classList.add('hidden');
            this.$.textMenuCollapseButton.classList.add('hidden');
            this.$.iconMenu.classList.remove('hidden');
            this.$.iconMenuCollapseButton.classList.remove('hidden');
          }
        }

        // Trigger canvas resize on sidebar toggle
        visu_onWindowResize();
      }

      _tokenDataChanged() { }
    }

    customElements.define(OffShoreProjects.is, OffShoreProjects);
  </script>
</dom-module>