<!-- Landing page. -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../offshore-shared-styles.html">

<dom-module id="offshore-landing">
  <template>
    <style include="offshore-shared-styles">
      section {
        @apply --layout-vertical;
        @apply --layout-center-center;
        height: 100%;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: #ffffff;
        padding: 0;
      }

      section#welcomeSection {
        background-image: url('../../../images/offshore_windpark.jpg');
      }

      section>h2 {
        font-size: 56px;
      }

      /* mobile */

      @media screen and (max-width: 575px) {
        section>h2 {
          font-size: 35px;
        }
      }
    </style>

    <section id="welcomeSection">
      <h2>Offshore Wind Farm</h2>
    </section>
  </template>

  <script>
    class OffShoreLanding extends Polymer.Element {
      static get is() { return 'offshore-landing'; }
    }

    customElements.define(OffShoreLanding.is, OffShoreLanding);
  </script>

</dom-module>