<!-- Shared styles between each page. -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="offshore-shared-styles">
  <template>
    <style>
      section {
        padding-left: 16px;
        padding-right: 16px;
      }

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
      }

      .hidden {
        display: none !important;
      }

      img {
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
      }
    </style>
  </template>

  <script>
    class OffShoreSharedStyles extends Polymer.Element {
      static get is() { return 'offshore-shared-styles'; }
    }

    customElements.define(OffShoreSharedStyles.is, OffShoreSharedStyles);
  </script>
</dom-module>