<!-- Represents the whole app. -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/effects/waterfall.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="offshore-shared-styles.html">
<link rel="import" href="pages/offshore-landing.html">
<link rel="import" href="pages/offshore-projects.html">
<link rel="import" href="pages/offshore-account.html">
<link rel="import" href="pages/offshore-organization.html">
<link rel="import" href="pages/offshore-404.html">

<link rel="import" href="components/offshore-register-dialog.html">
<link rel="import" href="components/offshore-login-dialog.html">

<dom-module id="offshore-app">
  <template>
    <style include="offshore-shared-styles">
      app-header {
        background-color: #FCFAF2;
        color: #0C0C0C;
      }

      app-toolbar {
        @apply --layout-horizontal;
        @apply --layout-justified;
      }

      #navigation {
        display: flex;
        @apply --layout-horizontal;
        height: 100%;
      }

      .tab {
        @apply --layout-horizontal;
        @apply --layout-center;
        color: #0C0C0C;
        height: 100%;
        padding-right: 24px;

      }

      .tab>a {
        @apply --layout-horizontal;
        @apply --layout-center;
        color: #0C0C0C;
      }

      .logo {
        height: 64px;
      }

      a.single-project {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 85%;
        margin-top: 2px;
      }

      #single-project-triangle {
        font-size: 80%;
        margin-left: 8px;
        margin-right: 8px;
      }

      #userInfo {
        float: right;
      }

      iron-pages {
        height: calc(100vh - 64px);
      }

      /* tablet */

      @media screen and (max-width: 767px) {
        .logo-text {
          display: none;
        }
      }

      /* mobile */

      @media screen and (max-width: 575px) {
        #navigation {
          font-size: 16px;
        }

        .logo-link {
          width: 32px;
        }

        .logo {
          height: 32px;
        }

        .single-project {
          display: none !important;
        }

        .username-text {
          display: none;
        }

        #registerLogin {
          font-size: 16px;
        }

        #registerLogin>paper-button {
          margin: 0;
          padding: 8px;
        }
      }
    </style>

    <!-- routing -->
    <app-location route="{{route}}" query-params="{{queryParams}}"></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>
    <app-route route="{{subroute}}" pattern="/:menu" data="{{subrouteData}}"></app-route>

    <!-- AJAX -->
    <iron-ajax 
      id="getAllOrganizationAjax" 
      url="https://offshorewebapp.herokuapp.com/organisation/all" 
      method="GET" 
      content-type="application/json"
      handle-as="json" 
      on-response="_handleGetAllOrganizationResponse">
    </iron-ajax>
    <iron-ajax 
      id="getAllProjectAjax" 
      url="https://offshorewebapp.herokuapp.com/project/all" 
      method="GET" 
      content-type="application/json"
      handle-as="json" 
      on-response="_handlegetAllProjectResponse">
    </iron-ajax>
    <iron-ajax 
      id="changeProjectOptionsAjax" 
      url="https://offshorewebapp.herokuapp.com/project/update_visual/{{currentProject.id}}"
      method="PUT" 
      content-type="application/json" 
      handle-as="json" 
      on-response="_handleChangeProjectOptionsResponse">
    </iron-ajax>

    <!-- localstorage -->
    <app-localstorage-document key="settings" data="{{settingsData}}"></app-localstorage-document>
    <app-localstorage-document key="token" data="{{tokenData}}"></app-localstorage-document>
    <app-localstorage-document key="currentProjectId" data="{{currentProjectId}}"></app-localstorage-document>

    <app-header-layout>
      <app-header slot="header" fixed condenses effects="waterfall">
        <app-toolbar>
          <!-- navigation -->
          <div id="navigation">
            <div class="tab">
              <a href="/" class="logo-link">
                <img class="logo" src="../../images/logo.png" alt="">
                <span class="logo-text">Offshore Wind Farm</span>
              </a>
            </div>
            <template is="dom-if" if="{{login}}">
              <div class="tab">
                <a href="/projects/map">Map</a>
              </div>
              <div class="tab">
                <a href="/projects/dashboard">Projects</a>
                <template is="dom-if" if="{{currentProject.name}}">
                <span class="single-project"><span id="single-project-triangle">&#9656;</span></span>
                  <a href="/projects/visualization" class="single-project">[[currentProject.name]]</a>
                </template>
              </div>
            </template>
          </div>
          <!-- register & login -->
          <template is="dom-if" if="{{!login}}">
            <div id="registerLogin">
              <paper-button dialog-id="registerDialog" on-click="_openDialog">REGISTER</paper-button>
              <paper-button dialog-id="loginDialog" on-click="_openDialog">LOG IN</paper-button>
            </div>
          </template>
          <!-- user actions -->
          <template is="dom-if" if="{{login}}">
            <div id="userInfo">
              <span class="username-text">[[userData.username]]</span>
              <paper-menu-button no-overlap horizontal-offset=-18>
                <paper-icon-button icon="account-circle" slot="dropdown-trigger"></paper-icon-button>
                <paper-listbox slot="dropdown-content" selected="{{routeData.page}}" attr-for-selected="name">
                  <paper-item name="account">Account</paper-item>
                  <paper-item name="" on-tap="_logout">Log out</paper-item>
                </paper-listbox>
              </paper-menu-button>
            </div>
          </template>
        </app-toolbar>
      </app-header>

      <!-- content -->
      <iron-pages selected="{{routeData.page}}" attr-for-selected="name" fallback-selection="404" role="main">
        <offshore-landing name=""></offshore-landing>
        <offshore-projects 
          name="projects" 
          token-data="{{tokenData}}" 
          current-menu="{{subrouteData.menu}}" 
          project-data="{{projectData}}"
          current-project="{{currentProject}}" 
          settings-data="{{settingsData}}" 
          organization-data="{{organizationData}}" 
          visualization-json="{{visualizationJson}}"
          route="{{route}}" 
          project-data-changed="{{projectDataChanged}}" 
          projects-need-reload="{{projectsNeedReload}}" 
          dashboard-notice="{{dashboardNotice}}">
        </offshore-projects>
        <offshore-account 
          name="account" 
          user-data="{{userData}}" 
          token-data="{{tokenData}}" 
          organization-data="{{organizationData}}"
          route="{{route}}" 
          project-data-changed="{{projectDataChanged}}" 
          project-data="{{projectData}}">
        </offshore-account>
        <offshore-organization 
          name="organization" 
          token-data="{{tokenData}}" 
          query-params="{{queryParams}}" 
          route="{{route}}" 
          organization-data="{{organizationData}}"
          project-data-changed="{{projectDataChanged}}" 
          project-data="{{projectData}}" 
          user-data="{{userData}}">
        </offshore-organization>
        <offshore-404 name="404"></offshore-404>
      </iron-pages>

      <offshore-register-dialog 
        id="registerDialog" 
        user-data="{{userData}}" 
        token-data="{{tokenData}}">
      </offshore-register-dialog>
      <offshore-login-dialog 
        id="loginDialog" 
        user-data="{{userData}}" 
        token-data="{{tokenData}}"
        route="{{route}}">
      </offshore-login-dialog>
    </app-header-layout>
  </template>

  <script>
    class OffshoreApp extends Polymer.Element {
      static get is() { return 'offshore-app'; }

      static get properties() {
        return {
          route: Object,
          routeData: Object,
          subroute: String,
          queryParams: Object,
          currentProjectId: {
            type: String,
            value: ''
          },
          projectsMenu: {
            type: String,
            value: 'dashboard'
          },
          userData: {
            type: Object,
            value: {}
          },
          projectData: {
            type: Object,
            value: []
          },
          currentProject: {
            type: Object,
            value: {},
            observer: '_currentProjectChanged'
          },
          settingsData: {
            type: Object,
            value: {
              showProjectMenu: false
            }
          },
          tokenData: {
            type: String,
            observer: '_tokenDataChanged'
          },
          organizationData: {
            type: Object
          },
          visualizationJson: {
            type: Object,
            value: {
              string: '{}'
            },
            observer: '_visualizationJsonChanged',
          },
          login: {
            type: Boolean,
            value: false
          },
          projectDataChanged: {
            type: Boolean,
            value: false
          },
          dashboardNotice: String,
          projectsNeedReload: {
            type: String,
            notify: true,
            value: false,
            observer: '_projectsNeedReloadChanged'
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
          '_routeMenuChanged(subrouteData.menu)',
          '_currentProjectOptionsChanged(currentProject.projectOptions)'
        ];
      }

      _currentProjectOptionsChanged(projectOptions) {
        if (projectOptions && projectOptions.dirty) {
          // We do not have to upload the dirty flag
          delete this.currentProject.projectOptions.dirty;
          this.set('visualizationJson.string', JSON.stringify(this.currentProject.projectOptions, null, 2));
          this.uploadCurrentProject();
        }
      }

      _currentProjectChanged() {
        this.set('visualizationJson.string', JSON.stringify(this.currentProject.projectOptions, null, 2));
        if (this.currentProject && this.currentProject.id) {
          this.set('currentProjectId', this.currentProject.id);
        }
      }

      _visualizationJsonChanged() {
        if (this.visualizationJson && this.visualizationJson.string) {
          this.currentProject.projectOptions = JSON.parse(this.visualizationJson.string);
          this.uploadCurrentProject();

          // Clone currentProject so that the project gets reopened in the visualization
          this.set('currentProject', JSON.parse(JSON.stringify(this.currentProject)));

          // Reset projectData <=> currentProject link
          var orgaIndex = this.projectData.findIndex(organization => organization.id == this.currentProject.organisation);
          var projectIndex = this.projectData[orgaIndex].projects.findIndex(project => project.id == this.currentProject
            .id);
          this.projectData[orgaIndex].projects[projectIndex] = this.currentProject;
        }
      }

      _handleChangeProjectOptionsResponse(e) {
        this.projectDataSavedCallback();
      }

      uploadCurrentProject() {
        // Upload this.currentProject, then reset dirty flag on ajax success
        this.$.changeProjectOptionsAjax.body = {
          data: this.currentProject.projectOptions
        };
        this.$.changeProjectOptionsAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
        this.$.changeProjectOptionsAjax.generateRequest();

        // // Mock upload:
        // setTimeout(() => {
        //   this.projectDataSavedCallback();
        // }, 1000);
      }

      // Call this when saving was successful
      projectDataSavedCallback() {
        this.set('currentProject.dirty', false);
      }

      _routePageChanged(page) {
        if (page === 'projects') {
          // Do visualization rendering only on visualization page
          threeJSShouldRender = this.projectsMenu == 'visualization';
          if (this.projectsMenu == 'visualization' && camera) {
            // This has to be called to show threejs rendering when website is loaded
            // with different page and switched to visualization page later
            visu_onWindowResize();
          }
          if (datgui) {
            datgui.domElement.style.display = threeJSShouldRender ? 'Block' : 'None';
          }

          if (this.projectsMenu == 'map') {
            window.dispatchEvent(new Event('resize'));
          }

          this.set('route.path', '/' + page + '/' + this.projectsMenu);
        }
      }

      _routeMenuChanged(menu) {
        if (this.routeData.page === 'projects') {
          this.projectsMenu = menu;
          this.set('route.path', '/' + this.routeData.page + '/' + menu);
        }
      }

      _logout(e) {
        // TODO: also clear the rest of the data, like projects, currentproject, etc...
        this.userData = {};
        this.tokenData = '';
        // reload to reset everything
        window.location = '/';
      }

      _openDialog(e) {
        let dialog = this.$[e.target.getAttribute('dialog-id')];
        dialog.open();
      }

      _handleGetAllOrganizationResponse(e) {
        this.set('organizationData', e.detail.response.organisations);
      }

      _changeProject(projectId) {
        let changed = false;
        this.projectData.forEach(organization => {
          organization.projects.forEach(project => {
            if (project.id === projectId) {
              this.set('currentProject', project);
              changed = true;
            }
          });
        });
        if (!changed) {
          this.set('route.path', '/projects/dashboard');
        }
      }

      _handlegetAllProjectResponse(e) {
        this.set('projectData', e.detail.response.projects);
        this._changeProject(this.currentProjectId);
        if (this.projectData.length === 0) {
          this.set('dashboardNotice',
            'You are not a member in any organization, please create your own or ask for an invitation into an existing one.'
          );
        } else {
          this.set('dashboardNotice', '');
        }
      }

      _tokenDataChanged() {
        if (this.tokenData !== '') {
          this.login = true;
          this.$.getAllProjectAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
          this.$.getAllProjectAjax.generateRequest();
          this.set('dashboardNotice', 'Loading projects...');

          this.$.getAllOrganizationAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
          this.$.getAllOrganizationAjax.generateRequest();
        } else {
          this.set('route.path', '/');
        }
      }

      _switchCurrentProjectFromMap(projectId) {
        this.projectData.forEach(organization => {
          organization.projects.forEach(project => {
            if (project.id === projectId) {
              this.set('currentProject', project);
              this.set('route.path', '/projects/visualization');
            }
          });
        });
      }

      _projectsNeedReloadChanged() {
        this.projectsNeedReload = false;
        if (this.tokenData !== '') {
          this.$.getAllProjectAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
          this.$.getAllProjectAjax.generateRequest();
          this.set('dashboardNotice', 'Loading projects...');

          this.$.getAllOrganizationAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
          this.$.getAllOrganizationAjax.generateRequest();
        }
      }

      ready() {
        super.ready();
        document.querySelector("#loading").style.display = 'none';
      }
    }

    window.customElements.define(OffshoreApp.is, OffshoreApp);
  </script>
</dom-module>