<!-- A map shows markers of each project. -->
<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../../../bower_components/mapbox-gl/mapbox-gl.html">

<dom-module id="offshore-map">
  <template>
    <style include="offshore-shared-styles">
      :host {
        display: block;
        height: 100%;
      }

      #mapContainer {
        width: 100%;
        height: 100%;
        position: relative;
      }

      mapbox-gl {
        height: 100%;
      }

      /* .marker {
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      } */
    </style>

    <iron-ajax 
      id="getAllMapProjectsAjax" 
      url="https://offshorewebapp.herokuapp.com/project/map" 
      method="GET" 
      content-type="application/json"
      handle-as="json" 
      on-response="_handlegetAllMapProjectsResponse">
    </iron-ajax>

    <div id="mapContainer">
      <mapbox-gl 
        id="map" 
        interactive map="{{map}}" 
        script-src="https://api.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js" 
        map-style-url="mapbox://styles/mapbox/streets-v10"
        access-token="pk.eyJ1IjoiY2FuZDEyNiIsImEiOiJjamM5Ym81b2EwYjFpMndwM3c0eGViZHBlIn0.gU_r94I-mXWBLbnAoLcTRQ" 
        latitude=-34.0889787
        longitude=18.478415 
        zoom=1 
        pitch=0 
        bearing=0>
      </mapbox-gl>
    </div>
  </template>

  <script>
    class OffShoreMap extends Polymer.Element {
      static get is() { return 'offshore-map'; }

      static get properties() {
        return {
          map: {
            type:Object,
            observer: '_mapChanged',
            notify: true
          },
          markers: {
            type: Array,
            value: []
          },
          projectData: {
            type: Object,
            notify: true,
            observer: '_projectDataChanged'
          },
          tokenData: {
            type: String,
            observer: '_tokenDataChanged'
          },
          projectDataChanged: {
            type: Boolean,
            notify: true,
            observer: 'projectDataDeepChangeListener'
          }
        };
      }

      _removeMarkers() {
        this.markers.forEach(marker => {
          marker.remove();
        });
        this.set('markers', []);
      }

      _mapChanged() {
        if (this.map) {
          this.map.resize();
        }
      }

      _handlegetAllMapProjectsResponse(e) {
        var projects = e.detail.response.projects;

        this._removeMarkers();
        projects.forEach(project => {
          if (project.coordinates) {
            var popupHTML = `
              <h2 style="min-width: 150px;">${project.project_name}</h2>
              <p><b>Organization:</b><br>
              ${project.organisation_name}
              <br><br><b>Descriptions:</b><br>
              ${project.project_description}
            `;
            if (project.isAssociatedToCurrentUser) {
              popupHTML += `</p><button onclick="document.querySelector('offshore-app')._switchCurrentProjectFromMap('${project.project_id}')">Load Project</button>`;
            }
            var newMarker = 
              (new mapboxgl.Marker())
              .setLngLat([project.coordinates.long, project.coordinates.lat])
              .setPopup(new mapboxgl.Popup({ offset: 25 })
              .setHTML(popupHTML))
              .addTo(this.map);
            newMarker._element.style.cursor='pointer';
            newMarker._element.querySelector('svg >g >g:nth-child(2)').style.fill = project.isAssociatedToCurrentUser ? 'darkolivegreen' : 'darkseagreen';
            this.push('markers', newMarker);
          }
        });
      }

      _tokenDataChanged() {
        if (this.tokenData !== '') {
          this.$.getAllMapProjectsAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
          this.$.getAllMapProjectsAjax.generateRequest();
        }
      }

      projectDataDeepChangeListener() {
        if (this.map && this.tokenData !== '') {
          this.$.getAllMapProjectsAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
          this.$.getAllMapProjectsAjax.generateRequest();
        }
      }

      _projectDataChanged() {
        this.projectDataDeepChangeListener();
      }
    }

    customElements.define(OffShoreMap.is, OffShoreMap);
  </script>
</dom-module>

