<!-- Visualization part. -->
<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../offshore-shared-styles.html">
<link rel="import" href="../../components/visualization-component.html">

<dom-module id="offshore-visualization">
  <template>
    <style include="offshore-shared-styles">
      :host {
        display: block;
        height: 100%;
      }
    </style>
    <visualization-component 
      current-project="{{currentProject}}" 
      current-menu="{{currentMenu}}">
    </visualization-component>
  </template>

  <script>
    class OffShoreVisualization extends Polymer.Element {
      static get is() { return 'offshore-visualization'; }

      static get properties() {
        return {
          currentProject: {
            type: Object,
            notify: true
          },
          currentMenu: {
            type: String,
            notify: true
          }
        };
      }
    }

    customElements.define(OffShoreVisualization.is, OffShoreVisualization);
  </script>
</dom-module>