<!-- Shows all the projects. -->
<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../components/offshore-input.html">

<link rel="import" href="../../offshore-shared-styles.html">

<dom-module id="offshore-dashboard">
  <template>
    <style include="offshore-shared-styles">
      :host {
        display: block;
        height: 100%;
      }

      section {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        height: 100%;
      }

      .project-container {
        @apply --layout-horizontal;
        @apply --layout-wrap;
        width: 100%;
      }

      .card-container {
        @apply --layout-horizontal;
        @apply --layout-center-justified;
        width: 250px;
        padding: 32px 0 32px 0;
        height: 350px;
        position: relative;
      }

      paper-card {
        width: 200px;
        cursor: pointer;
      }

      .card-header {
        padding: 16px;
      }

      .card-header > h2 {
        margin: 0;
        height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .card-image {
        @apply --layout-horizontal;
        @apply --layout-center-justified;
        @apply --layout-center;
        height: 200px;
      }

      .card-add {
        @apply --layout-vertical;
        @apply --layout-center-justified;
        @apply --layout-center;
        height: 100%;
        color: black;
      }

      .card-add>iron-icon {
        height: 64px;
        width: 64px;
      }

      .projectSettingsButton {
        position: absolute;
        right: 26px; /*With paper-card.width==200px, we have 25px padding on the right side and 32px to the top*/
        top: 33px;
        color: #BBB;
        z-index: 1;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
        cursor: pointer;
      }

      .projectSettingsButton:hover {
        color: #999;
      }

      #reloadProjectsButton {
        position: absolute;
        right: 10px;
        top: 73px;
        color: #999;
        z-index: 1;
        transition:.5s;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        cursor: pointer;
      }

      #reloadProjectsButton:hover {
        color: #555;
      }

      #reloadProjectsButton.disabled {
        pointer-events: none;
      }

      .rotating {
        animation: rotation 1s infinite linear;
        -o-animation: rotation 1s infinite linear;
        -ms-animation: rotation 1s infinite linear;
        -moz-animation: rotation 1s infinite linear;
        -webkit-animation: rotation 1s infinite linear;
      }

      @keyframes rotation { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(359deg); } }
      @-o-keyframes rotation { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(359deg); } }
      @-ms-keyframes rotation { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(359deg); } }
      @-moz-keyframes rotation { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(359deg); } }
      @-webkit-keyframes rotation { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(359deg); } }

      #dashboardNotice {
        @apply --layout-vertical;
        @apply --layout-center-justified;
        @apply --layout-center;
        height: 100%;
      }

      /* mobile */

      @media screen and (max-width: 575px) {
        .project-container {
          @apply --layout-vertical;
        }

        .card-container,
        .card-add {
          width: 100%;
        }
      }
    </style>

    <iron-ajax 
      id="createProjectAjax" 
      url="https://offshorewebapp.herokuapp.com/project/create" 
      method="POST" 
      handle-as="json" 
      on-response="_handleCreateProjectResponse">
    </iron-ajax>

    <section>
      <div id="reloadProjectsButton" style="display: none" on-click="_reloadProjects">
        <iron-icon icon="refresh"></iron-icon>
      </div>
      <!-- Loop for each organization. -->
      <template is="dom-repeat" items="{{projectData}}" as="organization">
        <h3>[[organization.name]]</h3>
        <div class="project-container">
          <!-- Loop for each project of an organization. -->
          <template is="dom-repeat" items="{{organization.projects}}">
            <div class="card-container" data-projectid$="{{item.id}}">
              <div class="projectSettingsButton" on-click="_changeProjectGotoSettings">
                <iron-icon icon="settings"></iron-icon>
              </div>
              <paper-card on-click="_changeProjectGotoVisualization">
                <div class="card-header">
                  <h2>[[item.name]]</h2>
                </div>
                <div class="card-image">
                  <img src$="{{_projectOrDefaultImage(item.image)}}" alt="">
                </div>
                <div class="card-content">
                  <span>[[item.description]]</span>
                </div>
              </paper-card>
            </div>
          </template>
          <!-- Card of adding a project. -->
          <div class="card-container">
            <paper-card>
              <a href$="/projects/create/[[index]]">
                <div class="card-add">
                  <iron-icon icon="icons:note-add"></iron-icon>
                  <span>Add A New Project</span>
                </div>
              </a>
            </paper-card>
          </div>
          <!-- Card of example projects. -->
          <template is="dom-if" if="{{_exampleProjectsDoNotExist(organization.projects)}}">
            <div class="card-container" data-organizationid$="{{organization.id}}" on-click="_addExampleProjects">
              <paper-card>
                <div class="card-add">
                  <iron-icon icon="icons:note-add"></iron-icon>
                  <span>Add Example Projects</span>
                </div>
              </paper-card>
            </div>
          </template>
        </div>
      </template>
      <!-- Message -->
      <div id="dashboardNotice">
        <paper-spinner id="spinner" active>...</paper-spinner>
        <div>{{dashboardNotice}}</div>
      </div>
    </section>
  </template>

  <script>
    class OffShoreDashboard extends Polymer.Element {
      static get is() { return 'offshore-dashboard'; }

      static get properties() {
        return {
          projectData: {
            type: Object,
            notify: true,
            observer: '_projectDataChange'
          },
          currentProject: {
            type: Object,
            notify: true
          },
          currentMenu: {
            type: String,
            notify: true
          },
          tokenData: {
            type: String,
            notify: true
          },
          organizationData: {
            type: Object,
            notify: true
          },
          joinProjectData: Object,
          projectDataChanged: {
            type: Boolean,
            notify: true,
            observer: 'projectDataDeepChangeListener'
          },
          dashboardNotice: {
            type: String,
            value: 'Loading projects...',
            observer: '_dashboardNoticeChange'
          },
          projectsNeedReload: {
            type: String,
            notify: true
          }
        };
      }

      _projectOrDefaultImage(imagePath) {
        return imagePath === '' 
          ? '../../../images/project.png' 
          : 'https://s3-ap-southeast-1.amazonaws.com/offshorewebapptest/' + imagePath;
      }

      _projectDataChange() {
        this.$.reloadProjectsButton.style.display = 'block';
        this.$.reloadProjectsButton.classList.remove('rotating');
        this.$.reloadProjectsButton.classList.remove('disabled');
        if (this.projectData.length > 0 && this.dashboardNotice === '') {
          this.$.dashboardNotice.style.display = 'none';
        }
      }

      _changeProject(e) {
        let projectId = e.currentTarget.parentNode.dataset.projectid;
        this.projectData.forEach(organization => {
          organization.projects.forEach(project => {
            if (project.id === projectId) {
              this.set('currentProject', project);
            }
          });
        });
      }

      _changeProjectGotoVisualization(e) {
        this._changeProject(e);
        this.set('currentMenu', 'visualization');
      }

      _changeProjectGotoSettings(e) {
        this._changeProject(e);
        this.set('currentMenu', 'settings');
      }

      _addExampleProjects(e) {
        var projectOptionsHamburg = {
          terrainOptions: {
            type: 'mapbox',
            boundingPolygon: [{
              lat: 53.545949,
              long: 9.951419
            }, {
              lat: 53.546976,
              long: 9.979722
            }, {
              lat: 53.542949,
              long: 9.987313
            }, {
              lat: 53.536934,
              long: 9.987313
            }, {
              lat: 53.536934,
              long: 9.951419
            }],
            tileOptions: {
              zoom: 14,
              resolution: 128,
              texResolution: 512
            },
            gridSpacing: 50,
            heightSubtractor: -0.1,
            restrictedAreas: [{
              type: 'polygon',
              coords: [{
                lat: 53.541965,
                long: 9.968920
              }, {
                lat: 53.540744,
                long: 9.972940
              }, {
                lat: 53.538697,
                long: 9.966196
              }]
            }, {
              type: 'circle',
              center: {
                lat: 53.542965,
                long: 9.968920
              },
              radius: 100.0
            }]
          },
          objects: [{
            type: "CableConnection",
            pointA: 1,
            pointB: 2
          }, {
            type: "CableConnection",
            pointA: 1,
            pointB: 3
          }, {
            type: "CableConnection",
            pointA: 1,
            pointB: 4
          }, {
            type: "Windmill",
            id: 1,
            x: 57,
            y: 24,
            efficiency: 0.6
          }, {
            type: "Windmill",
            id: 2,
            x: 55,
            y: 25,
            efficiency: 0.6
          }, {
            type: "Windmill",
            id: 3,
            x: 59,
            y: 25,
            efficiency: 0.6,
            liveDataId: "abc"
          }, {
            type: "Powerstation",
            id: 4,
            x: 57,
            y: 22,
            efficiency: 0.7
          }]
        };

        var projectOptionsGrandCanyon = {
          terrainOptions: {
            type: 'mapbox',
            boundingPolygon: [{
              lat: 36.105855,
              long: -112.114939
            }, {
              lat: 36.095212,
              long: -112.115986
            }, {
              lat: 36.096593,
              long: -112.083085
            }, {
              lat: 36.103828,
              long: -112.082114
            }],
            tileOptions: {
              zoom: 15,
              resolution: 64,
              texResolution: 256
            },
            gridSpacing: 100,
            heightSubtractor: -750.0
          },
          objects: [{
            type: "Windmill",
            id: 0,
            x: 24,
            y: 12,
            efficiency: 0.5
          }, {
            type: "Windmill",
            id: 1,
            x: 23,
            y: 12,
            efficiency: 0.5
          }]
        };

        var projectOptionsSylt = {
          terrainOptions: {
            type: 'mapbox',
            boundingPolygon: [{
              lat: 55.064154,
              long: 8.394029
            }, {
              lat: 55.045275,
              long: 8.482950
            }, {
              lat: 55.015956,
              long: 8.443811
            }, {
              lat: 54.996858,
              long: 8.349397
            }],
            tileOptions: {
              zoom: 14,
              resolution: 64,
              texResolution: 256
            },
            gridSpacing: 100,
            heightSubtractor: -0.1
          },
          objects: JSON.parse('[{"type":"Windmill","id":0,"x":78,"y":26,"efficiency":0.5},{"type":"Windmill","id":1,"x":79,"y":26,"efficiency":0.5},{"type":"Windmill","id":2,"x":80,"y":26,"efficiency":0.5},{"type":"Windmill","id":3,"x":81,"y":26,"efficiency":0.5},{"type":"Windmill","id":4,"x":82,"y":26,"efficiency":0.5},{"type":"Windmill","id":5,"x":83,"y":26,"efficiency":0.5},{"type":"Windmill","id":6,"x":84,"y":26,"efficiency":0.5},{"type":"Windmill","id":7,"x":85,"y":26,"efficiency":0.5},{"type":"Windmill","id":8,"x":85,"y":27,"efficiency":0.5},{"type":"Windmill","id":9,"x":84,"y":27,"efficiency":0.5},{"type":"Windmill","id":10,"x":83,"y":27,"efficiency":0.5},{"type":"Windmill","id":11,"x":82,"y":27,"efficiency":0.5},{"type":"Windmill","id":12,"x":81,"y":27,"efficiency":0.5},{"type":"Windmill","id":13,"x":80,"y":27,"efficiency":0.5},{"type":"Windmill","id":14,"x":79,"y":27,"efficiency":0.5},{"type":"Windmill","id":15,"x":78,"y":27,"efficiency":0.5},{"type":"Windmill","id":16,"x":78,"y":28,"efficiency":0.5},{"type":"Windmill","id":17,"x":79,"y":28,"efficiency":0.5},{"type":"Windmill","id":18,"x":80,"y":28,"efficiency":0.5},{"type":"Windmill","id":19,"x":81,"y":28,"efficiency":0.5},{"type":"Windmill","id":20,"x":82,"y":28,"efficiency":0.5},{"type":"Windmill","id":21,"x":83,"y":28,"efficiency":0.5},{"type":"Windmill","id":22,"x":84,"y":28,"efficiency":0.5},{"type":"Windmill","id":23,"x":85,"y":28,"efficiency":0.5},{"type":"Windmill","id":24,"x":85,"y":29,"efficiency":0.5},{"type":"Windmill","id":25,"x":84,"y":29,"efficiency":0.5},{"type":"Windmill","id":26,"x":83,"y":29,"efficiency":0.5},{"type":"Windmill","id":27,"x":82,"y":29,"efficiency":0.5},{"type":"Windmill","id":28,"x":81,"y":29,"efficiency":0.5},{"type":"Windmill","id":29,"x":80,"y":29,"efficiency":0.5},{"type":"Windmill","id":30,"x":79,"y":29,"efficiency":0.5},{"type":"Windmill","id":31,"x":78,"y":29,"efficiency":0.5},{"type":"Windmill","id":32,"x":78,"y":30,"efficiency":0.5},{"type":"Windmill","id":33,"x":79,"y":30,"efficiency":0.5},{"type":"Windmill","id":34,"x":80,"y":30,"efficiency":0.5},{"type":"Windmill","id":35,"x":81,"y":30,"efficiency":0.5},{"type":"Windmill","id":36,"x":82,"y":30,"efficiency":0.5},{"type":"Windmill","id":37,"x":83,"y":30,"efficiency":0.5},{"type":"Windmill","id":38,"x":84,"y":30,"efficiency":0.5},{"type":"Windmill","id":39,"x":85,"y":30,"efficiency":0.5},{"type":"Windmill","id":40,"x":85,"y":31,"efficiency":0.5},{"type":"Windmill","id":41,"x":84,"y":31,"efficiency":0.5},{"type":"Windmill","id":42,"x":83,"y":31,"efficiency":0.5},{"type":"Windmill","id":43,"x":82,"y":31,"efficiency":0.5},{"type":"Windmill","id":44,"x":81,"y":31,"efficiency":0.5},{"type":"Windmill","id":45,"x":80,"y":31,"efficiency":0.5},{"type":"Windmill","id":46,"x":79,"y":31,"efficiency":0.5},{"type":"Windmill","id":47,"x":78,"y":31,"efficiency":0.5}]')
        };

        var projectOptionsKapstadt = {
          terrainOptions: {
            type: "mapbox",
            boundingPolygon: [
              {
                lat: -34.04060105332334,
                long: 18.527100036981693
              },
              {
                lat: -34.107925723245,
                long: 18.55275525445751
              },
              {
                lat: -34.128040475244575,
                long: 18.46806675342586
              },
              {
                lat: -34.087248031857094,
                long: 18.431513744451365
              },
              {
                lat: -34.04493095555776,
                long: 18.460348176886498
              }
            ],
            tileOptions: {
              zoom: 14,
              resolution: 64,
              texResolution: 256
            },
            gridSpacing: 100,
            heightSubtractor: -2.5,
            restrictedAreas: [
              {
                type: "circle",
                center: {
                  lat: -34.115254789357174,
                  long: 18.488971740728754
                },
                radius: 277.44661358457085
              },
              {
                type: "polygon",
                coords: [
                  {
                    lat: -34.11076577937491,
                    long: 18.491139906535288
                  },
                  {
                    lat: -34.11256138336781,
                    long: 18.495476238148363
                  },
                  {
                    lat: -34.116152591353625,
                    long: 18.495476238148363
                  },
                  {
                    lat: -34.116152591353625,
                    long: 18.50198073556797
                  },
                  {
                    lat: -34.1071745713891,
                    long: 18.50740115008431
                  }
                ]
              }
            ]
          },
          objects: JSON.parse('[{"type":"CableConnection","pointA":22,"pointB":24},{"type":"CableConnection","pointA":21,"pointB":22},{"type":"CableConnection","pointA":20,"pointB":21},{"type":"CableConnection","pointA":20,"pointB":23},{"type":"CableConnection","pointA":15,"pointB":23},{"type":"CableConnection","pointA":16,"pointB":23},{"type":"CableConnection","pointA":23,"pointB":25},{"type":"CableConnection","pointA":17,"pointB":25},{"type":"CableConnection","pointA":26,"pointB":27},{"type":"CableConnection","pointA":17,"pointB":26},{"type":"CableConnection","pointA":0,"pointB":26},{"type":"CableConnection","pointA":0,"pointB":2},{"type":"CableConnection","pointA":2,"pointB":4},{"type":"CableConnection","pointA":4,"pointB":6},{"type":"CableConnection","pointA":0,"pointB":1},{"type":"CableConnection","pointA":2,"pointB":3},{"type":"CableConnection","pointA":4,"pointB":5},{"type":"CableConnection","pointA":3,"pointB":10},{"type":"CableConnection","pointA":5,"pointB":9},{"type":"CableConnection","pointA":6,"pointB":7},{"type":"CableConnection","pointA":7,"pointB":8},{"type":"CableConnection","pointA":8,"pointB":11},{"type":"CableConnection","pointA":9,"pointB":12},{"type":"CableConnection","pointA":12,"pointB":14},{"type":"CableConnection","pointA":11,"pointB":13},{"type":"CableConnection","pointA":27,"pointB":28},{"type":"CableConnection","pointA":28,"pointB":29},{"type":"Windmill","id":0,"x":69,"y":85,"efficiency":0.5},{"type":"Windmill","id":1,"x":69,"y":86,"efficiency":0.5},{"type":"Windmill","id":2,"x":68,"y":85,"efficiency":0.5},{"type":"Windmill","id":3,"x":68,"y":86,"efficiency":0.5},{"type":"Windmill","id":4,"x":67,"y":85,"efficiency":0.5},{"type":"Windmill","id":5,"x":67,"y":86,"efficiency":0.5},{"type":"Windmill","id":6,"x":66,"y":85,"efficiency":0.5},{"type":"Windmill","id":7,"x":66,"y":86,"efficiency":0.5},{"type":"Windmill","id":8,"x":66,"y":87,"efficiency":0.5},{"type":"Windmill","id":9,"x":67,"y":87,"efficiency":0.5},{"type":"Windmill","id":10,"x":68,"y":87,"efficiency":0.5},{"type":"Windmill","id":11,"x":66,"y":88,"efficiency":0.5},{"type":"Windmill","id":12,"x":67,"y":88,"efficiency":0.5},{"type":"Windmill","id":13,"x":66,"y":89,"efficiency":0.5},{"type":"Windmill","id":14,"x":67,"y":89,"efficiency":0.5},{"type":"Windmill","id":15,"x":73,"y":88,"efficiency":0.5},{"type":"Windmill","id":16,"x":72,"y":87,"efficiency":0.5},{"type":"Windmill","id":17,"x":72,"y":86,"efficiency":0.5},{"type":"Windmill","id":20,"x":74,"y":87,"efficiency":0.5},{"type":"Windmill","id":21,"x":74,"y":88,"efficiency":0.5},{"type":"Windmill","id":22,"x":74,"y":89,"efficiency":0.5},{"type":"Windmill","id":23,"x":73,"y":87,"efficiency":0.5},{"type":"Windmill","id":24,"x":74,"y":90,"efficiency":0.5},{"type":"Windmill","id":25,"x":73,"y":86,"efficiency":0.5},{"type":"Powerstation","id":26,"x":71,"y":84,"efficiency":0.7},{"type":"Powerstation","id":27,"x":66,"y":76,"efficiency":0.7},{"type":"Powerstation","id":28,"x":65,"y":74,"efficiency":0.7},{"type":"Powerstation","id":29,"x":65,"y":72,"efficiency":0.7}]')
        };

        var projectOptionsKapstadtBigger = {
          terrainOptions: {
            type: "mapbox",
            boundingPolygon: [
              {
                lat: -34.25034574932404,
                long: 18.773223844034106
              },
              {
                lat: -34.418047361829466,
                long: 18.77608422839603
              },
              {
                lat: -34.418047361829466,
                long: 19.03065843672661
              },
              {
                lat: -34.48526984157984,
                long: 19.22516457344136
              },
              {
                lat: -34.34604760756217,
                long: 19.369613983785655
              },
              {
                lat: -34.27044036401937,
                long: 19.096447277080756
              }
            ],
            tileOptions: {
              zoom: 14,
              resolution: 64,
              texResolution: 256
            },
            gridSpacing: 100,
            heightSubtractor: -0.1,
            restrictedAreas: []
          },
          objects: []
        };

        let organisationId = e.currentTarget.dataset.organizationid;

        // test
        let p1 = {
          name: 'Hamburg',
          description: 'Example Project Hamburg',
          projectOptions: projectOptionsHamburg,
          organisationId: organisationId,
          imageUrl: '/images/exampleProjectHamburg.jpg'
        };
        let p2 = {
          name: 'Kapstadt',
          description: 'Example Project Kapstadt',
          projectOptions: projectOptionsKapstadt,
          organisationId: organisationId,
          imageUrl: '/images/exampleProjectKapstadt.jpg'
        };
        let p3 = {
          name: 'Kapstadt Bigger',
          description: 'Example Project Kapstadt',
          projectOptions: projectOptionsKapstadtBigger,
          organisationId: organisationId,
          imageUrl: '/images/exampleProjectKapstadt.jpg'
        };
        let p4 = {
          name: 'Sylt',
          description: 'Example Project Sylt',
          projectOptions: projectOptionsSylt,
          organisationId: organisationId,
          imageUrl: '/images/exampleProjectSylt.jpg'
        };

        [p1, p2, p3, p4].forEach(project => {
          fetch(project.imageUrl)
          .then(res => res.blob())
          .then(blob => {
            var fd = new FormData();
            fd.append('name', project.name);
            fd.append('description', project.description);
            fd.append('projectOptions', JSON.stringify(project.projectOptions));
            fd.append('organisationId', project.organisationId);
            fd.append('image', blob, 'somefilename.jpg');
            
            this.$.createProjectAjax.body = fd;
            this.$.createProjectAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
            this.$.createProjectAjax.generateRequest();
          });
        });
      }

      _handleCreateProjectResponse(e) {
        var newProject = e.detail.response.project;

        var orgaIndex = this.projectData.findIndex(organisation => organisation.id == newProject.organisation);
        // We do whatever you want, polymer...
        if (this.projectData[orgaIndex].projects.length == 0) {
          this.set(`projectData.${orgaIndex}.projects`, [newProject]);
        }
        else {
          this.push(`projectData.${orgaIndex}.projects`, newProject);
        }
      }

      /**
       * Makes sure the dashboard REALLY gets updated on ever change
       */
      projectDataDeepChangeListener() {
        this.projectDataChanged = false;
        this.projectData.forEach((organization, orgaIndex) => {
          organization.projects.forEach((project, projectIndex) => {
            this.notifyPath(`projectData.${orgaIndex}.projects.${projectIndex}.name`);
            this.notifyPath(`projectData.${orgaIndex}.projects.${projectIndex}.description`);
            this.notifyPath(`projectData.${orgaIndex}.projects.${projectIndex}.image`);
            this.notifyPath(`projectData.${orgaIndex}.projects.${projectIndex}`);
          });
          this.notifyPath(`projectData.${orgaIndex}.projects`);
        });
      }

      _projectLength(projects) {
        return projects.length > 0;
      }

      _exampleProjectsDoNotExist(projects) {
        return !projects.find(p => p.name == 'Sylt') && !projects.find(p => p.name == 'Kapstadt') && !projects.find(p => p.name == 'Kapstadt Bigger') && !projects.find(p => p.name == 'Hamburg');
      }

      _dashboardNoticeChange() {
        if (this.dashboardNotice !== 'Loading projects...') {
          this.$.spinner.style.display = 'none';
        }
        if (this.dashboardNotice === '') {
          this.$.dashboardNotice.style.display = 'none';
        }
        else {
          this.$.dashboardNotice.style.display = 'flex';
        }
      }

      _reloadProjects() {
        this.$.reloadProjectsButton.classList.add('rotating');
        this.$.reloadProjectsButton.classList.add('disabled');
        this.set('projectsNeedReload', true);
      }
    }

    customElements.define(OffShoreDashboard.is, OffShoreDashboard);
  </script>
</dom-module>