<!-- Creation of a project. -->
<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../../../bower_components/mapbox-gl/mapbox-gl.html">
<link rel="import" href="../../../../bower_components/mapbox-gl/mapbox-layer.html">
<link rel="import" href="../../../../bower_components/mapbox-gl/geojson-source.html">

<link rel="import" href="../../../../bower_components/file-drop-zone/file-drop-zone.html">

<link rel="import" href="../../offshore-shared-styles.html">

<dom-module id="offshore-create">
  <template>
    <style include="offshore-shared-styles">
      :host {
        display: block;
        height: 100%;
      }

      section {
        @apply --layout-vertical;
        height: 100%;
      }

      iron-pages {
        @apply --layout-vertical;
        flex: 1 1 auto;
      }

      #informationContainer,
      #geographyContainer,
      #visualizationContainer {
        @apply --layout-vertical;
        flex: 1 1 auto;
      }

      #location {
        @apply --layout-vertical;
        width: 100%;
        flex: 1 1 auto;
        position: relative;
      }

      mapbox-gl {
        height: 100px;
        min-height: 100px;
        width: 100%;
        flex: 1 1 auto;
      }

      file-drop-zone {
        min-height: 60px;
        margin-top: 10px;
        border: 1px solid black;
      }

      .buttons-row {
        @apply --layout-horizontal;
        @apply --layout-center-justified;
        margin: 16px 0 16px 0;
        height: 42px;
      }

      .buttons-row>paper-button {
        height: 42px;
      }

      paper-tabs {
        width: 310px;
      }

      .project-arrow {
        @apply --layout-horizontal;
        @apply --layout-center;
      }

      .file-item {
        background-color: #A5DEE4;
        text-align: center;
      }

      #polygonInfo {
        padding: 5px;
        background-color: white;
        opacity: 0.8;
      }

      #mapOverlays1 {
        position: absolute;
        top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        pointer-events: none;
      }

      #mapOverlays2 {
        position: absolute;
        bottom: 35px;
        right: 5px;
        padding-left: 10px;
        padding-right: 10px;
      }

      #mapOverlays2 paper-button {
        background-color: white;
        opacity: 0.8;
      }

      #projectJsonNotice {
        border: 1px solid red;
        padding: 8px;
      }

      #projectJsonNotice p {
        padding-left: 10px;
        text-indent: -10px;
        margin: 0px;
      }

      /* mobile */

      @media screen and (max-width: 575px) {
        paper-tabs {
          width: 100%;
        }
      }
    </style>

    <app-route route="{{route}}" pattern="/projects/create/:organisation" data="{{orgaUrl}}"></app-route>

    <iron-ajax 
      id="createProjectAjax" 
      url="https://offshorewebapp.herokuapp.com/project/create" 
      method="POST" 
      handle-as="json"
      on-response="_handleCreateProjectResponse">
    </iron-ajax>

    <section>
      <!-- navigation -->
      <paper-tabs selected="{{selected}}" noink no-bar="true">
        <paper-tab>Information</paper-tab>
        <span class="project-arrow">></span>
        <paper-tab>Geography</paper-tab>
        <span class="project-arrow">></span>
        <paper-tab>Visualization</paper-tab>
      </paper-tabs>
      <!-- content -->
      <iron-pages selected="{{selected}}">
        <!-- Basic information of a project. -->
        <div id="informationContainer">
          <offshore-input 
            label-data="Name" 
            type-data="text" 
            value-data="{{projectName}}" 
            icon-data="editor:title" 
            require-data="true"
            error-data="{{newProjectNameError}}">
          </offshore-input>
          <offshore-input 
            label-data="Description" 
            type-data="text" 
            value-data="{{projectDescription}}" 
            icon-data="editor:text-fields"
            require-data="false">
          </offshore-input>
          <paper-dropdown-menu label="Organization Name" selected-item="{{projectOrganization}}">
            <paper-listbox id="orgaDropdownListbox" slot="dropdown-content">
              <template is="dom-repeat" items="{{organizationData}}">
                <paper-item data-id="[[item.id]]">[[item.name]]</paper-item>
              </template>
            </paper-listbox>
          </paper-dropdown-menu>
          <file-drop-zone 
            accept=".jpg, .png" 
            files="{{imageFile}}" 
            last-error="{{imageError}}" 
            on-error="_onError">
            <div slot="drop-zone" class="layout vertical center center-justified">
              <div class="title">Drag & Drop or Click to Upload an Image</div>
              <template is="dom-repeat" items="[[imageFile]]">
                <div class="file-item">[[item.name]]</div>
              </template>
            </div>
          </file-drop-zone>
          <div class="buttons-row">
            <paper-button raised on-click="_toGeography">NEXT</paper-button>
            <paper-button raised on-click="_toDashboard">CANCEL</paper-button>
          </div>
        </div>
        <!-- Define the polygon of a project. -->
        <div id="geographyContainer">
          <div id="location">
            <mapbox-gl 
              id="map" 
              interactive map="{{map}}" 
              script-src="https://api.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js" 
              map-style-url="mapbox://styles/mapbox/streets-v10"
              access-token="pk.eyJ1IjoiY2FuZDEyNiIsImEiOiJjamM5Ym81b2EwYjFpMndwM3c0eGViZHBlIn0.gU_r94I-mXWBLbnAoLcTRQ" 
              latitude=50.774863
              longitude=6.083912 
              zoom=1 
              pitch=0 
              bearing=0>
            </mapbox-gl>
            <mapbox-layer 
              map="[[map]]" 
              layer-id="coastline_fill" 
              rendering-type="fill" 
              source="geojsonsrc" 
              color="#088" 
              opacity=0.8>
            </mapbox-layer>
            <geojson-source 
              map="[[map]]" 
              source-id="geojsonsrc" 
              source-data="[[geojsonData]]">
            </geojson-source>
            <div id="mapOverlays1">
              <div id="polygonInfo">
                Current number of polygon points:
                <b>{{numGeojsonDataPoints}}</b>. Please click the points in (counter-)clockwise order. Please do not create
                polygons with line intersections, otherwise click reset.
              </div>
            </div>
            <div id="mapOverlays2">
              <paper-button raised on-click="_resetPolygonPoints">Reset Polygon Points</paper-button>
            </div>
          </div>
          <file-drop-zone 
            accept=".json" 
            files="{{geojsonFile}}" 
            last-error="{{geoJSONError}}" 
            on-error="_onError" 
            on-files-changed="_uploadGeoJSON">
            <div slot="drop-zone" class="layout vertical center center-justified">
              <div class="title">Drag & Drop or Click to Upload GeoJSON</div>
              <template is="dom-repeat" items="[[geojsonFile]]">
                <div class="file-item">[[item.name]]</div>
              </template>
            </div>
          </file-drop-zone>
          <div class="buttons-row">
            <paper-button raised on-click="_toVisualization">NEXT</paper-button>
            <paper-button raised on-click="_toInformation">BACK</paper-button>
            <paper-button raised on-click="_toDashboard">CANCEL</paper-button>
          </div>
        </div>
        <!-- Visualization data of a project. -->
        <div id="visualizationContainer">
          <div id="projectJsonNotice">
            This is the json describing your project, generated from your drawn polygon. It will be used to load the project terrain from Mapbox.<br><br>
            <b>If you know what you are doing</b> you can change:<br><br>
            <div>
              <p><i>zoom</i>: The zoom level the Mapbox tiles are loaded from. Higher zoom levels mean more tiles to load and render</p>
              <p><i>resolution</i>: The Mapbox tiles (height data) are loaded at resolution 256x256. They are downsampled to the given resolution. 64 is enough in most cases</p>
              <p><i>texResolution</i>: The Mapbox tiles (textures) are loaded at resolution 256x256. They are downsampled to the given resolution</p>
              <p><i>heightSubtractor</i>: The ocean depth of coasts in Mapbox is mostly around zero meters. Use this to display the terrain a little lower to avoid z-fighting with the ocean level</p>
            </div>
            <br>
            You can paste the json of another project here to copy its contents.
          </div>
          <paper-textarea 
            label="Visualization Data" 
            value="{{visualizationData}}" 
            always-float-label="true">
          </paper-textarea>
          <div class="buttons-row">
            <paper-button raised id="finishButton" on-click="_submit">FINISH</paper-button>
            <paper-button raised on-click="_toGeography">BACK</paper-button>
            <paper-button raised on-click="_toDashboard">CANCEL</paper-button>
          </div>
        </div>
      </iron-pages>
    </section>
  </template>

  <script>
    class OffShoreCreate extends Polymer.Element {
      static get is() { return 'offshore-create'; }

      static get properties() {
        return {
          projectName: String,
          projectDescription: {
            type: String,
            value: ''
          },
          projectOrganization: Object,
          organizationData: {
            type: Object,
            notify: true
          },
          projectData: {
            type: Object,
            notify: true
          },
          imageFile: Object,
          geojsonFile: Object,
          selected: {
            type: Number,
            value: 0,
            observer: '_tabChanged'
          },
          geoJSONError: Object,
          imageError: Object,
          geojsonData: {
            type: Object,
            value: {
              type: "FeatureCollection",
              features: [{
                type: 'Feature',
                geometry: {
                  type: 'Polygon',
                  coordinates: [
                    []
                  ]
                }
              }]
            },
            observer: '_polygonChanged'
          },
          numGeojsonDataPoints: {
            type: Number,
            value: 0
          },
          visualizationData: Object,
          map: {
            type: Object,
            observer: '_mapChanged'
          },
          tokenData: {
            type: String,
            notify: true
          },
          orgaUrl: {
            type: String,
            observer: '_organisationUrlChanged'
          },
          projectDataChanged: {
            type: Boolean,
            notify: true
          }
        };
      }

      _submit() {
        // Check whether the json can be parsed before doing anything else
        var jsonCouldBeParsed = true;
        try {
          JSON.parse(this.visualizationData);
        }
        catch(e) {
          jsonCouldBeParsed = false;
        }

        if (jsonCouldBeParsed && this.projectName != '') {
          this.$.finishButton.disabled = true;
          let project = new FormData();
          project.append('name', this.projectName);
          project.append('description', this.projectDescription);
          project.append('organisationId', this.projectOrganization.dataId);
          project.append('projectOptions', this.visualizationData);
          if (this.imageFile) {
            project.append('image', this.imageFile[0]);
          }
          this.$.createProjectAjax.body = project;
          this.$.createProjectAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
          this.$.createProjectAjax.generateRequest();
        }
        else {
          alert('The project json cannot be parsed. Please check for syntax errors');
        }
      }

      _toDashboard() {
        this.set('route.path', 'projects/dashboard');
      }

      _toInformation() {
        this.set('selected', 0);
      }

      _toGeography() {
        this.set('selected', 1);
      }

      _toVisualization() {
        this.set('selected', 2);
      }

      _tabChanged() {
        if (this.selected == 1) {
          this._resizeMap();
        }
      }

      _resizeMap() {
        this.$.map.style.height = this.$.map.clientHeight + 'px';
        window.dispatchEvent(new Event('resize'));
      }

      _setGeoJSONData(result, parent) {
        parent.set('geojsonData', result);
      }

      _uploadGeoJSON(e) {
        this._readJSON(e.detail.value[0], this._setGeoJSONData, this);
      }

      _readJSON(file, callback, parent) {
        let fr = new FileReader();
        fr.onload = function (e) {
          let result = JSON.parse(e.target.result);
          callback(result, parent);
        };
        fr.readAsText(file);
      }

      _onError() {}

      _handleMapboxClick(e) {
        var json = {
          type: "FeatureCollection",
          features: [{
            type: 'Feature',
            geometry: {
              type: 'Polygon',
              coordinates: [this.geojsonData.features[0].geometry.coordinates[0].concat([
                [e.lngLat.lng, e.lngLat.lat]
              ])]
            }
          }]
        };
        this.set('geojsonData', json);
      }

      _resetPolygonPoints() {
        var json = {
          type: "FeatureCollection",
          features: [{
            type: 'Feature',
            geometry: {
              type: 'Polygon',
              coordinates: [
                []
              ]
            }
          }]
        };
        this.set('geojsonData', json);
      }

      _polygonChanged() {
        this.set('numGeojsonDataPoints', this.geojsonData.features[0].geometry.coordinates[0].length);
        var projectOptions = {
          terrainOptions: {
            type: 'mapbox',
            boundingPolygon: this.geojsonData.features[0].geometry.coordinates[0].map(coord => {
              return {
                lat: coord[1],
                long: coord[0]
              };
            }),
            tileOptions: {
              zoom: 15,
              resolution: 64,
              texResolution: 256
            },
            gridSpacing: 100,
            heightSubtractor: -0.1,
            restrictedAreas: []
          },
          objects: []
        };
        var jsonStr = JSON.stringify(projectOptions, null, 2);
        this.set('visualizationData', jsonStr);
      }

      _mapChanged() {
        if (typeof this.map !== 'undefined') {
          this.map.on('click', (e) => this._handleMapboxClick(e));
        }
      }

      _handleCreateProjectResponse(e) {
        this.$.finishButton.disabled = false;
        this.set('projectName', '');
        this.set('projectDescription', '');
        this._resetPolygonPoints();
        this._toInformation();

        var newProject = e.detail.response.project;

        var orgaIndex = this.projectData.findIndex(organisation => organisation.id == newProject.organisation);
        // We do whatever you want, polymer...
        if (this.projectData[orgaIndex].projects.length == 0) {
          this.set(`projectData.${orgaIndex}.projects`, [newProject]);
        } else {
          this.push(`projectData.${orgaIndex}.projects`, newProject);
        }
        this.set('projectDataChanged', true);

        this._toDashboard();
      }

      _organisationUrlChanged() {
        var orgaNum = parseInt(this.orgaUrl.organisation);
        if (!isNaN(orgaNum)) {
          this.$.orgaDropdownListbox.select(orgaNum);
        }
      }
    }

    customElements.define(OffShoreCreate.is, OffShoreCreate);
  </script>
</dom-module>