<!-- Settgins of a project. -->
<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../../../bower_components/file-drop-zone/file-drop-zone.html">

<link rel="import" href="../../offshore-shared-styles.html">
<link rel="import" href="../../components/offshore-input.html">

<dom-module id="offshore-settings">
  <template>
    <style include="offshore-shared-styles">
      section {
        @apply --layout-vertical;
        @apply --layout-start-justified;
      }

      .buttons-row {
        @apply --layout-horizontal;
        height: 42px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .warn {
        background-color: #CB1B45;
        color: white;
      }

      file-drop-zone {
        height: 60px;
        margin-top: 10px;
        border: 1px solid black;
      }

      .file-item {
        background-color: #A5DEE4;
        text-align: center;
      }

      #projectJsonNotice {
        border: 1px solid red;
        padding: 8px;
      }

      #projectJsonNotice p {
        padding-left: 10px;
        text-indent: -10px;
        margin: 0px;
      }
    </style>

    <iron-ajax 
      id="deleteProjectAjax" 
      url="https://offshorewebapp.herokuapp.com/project/delete/{{currentProject.id}}" 
      method="DELETE"
      content-type="application/json" 
      handle-as="json" 
      on-response="_handleDeleteProjectResponse">
    </iron-ajax>
    <iron-ajax 
      id="saveProjectAjax" 
      url="https://offshorewebapp.herokuapp.com/project/update/{{currentProject.id}}" 
      method="PUT"
      handle-as="json" 
      on-response="_handleSaveProjectResponse">
    </iron-ajax>

    <section>
      <offshore-input 
        label-data="Project Name" 
        value-data="{{currentProject.name}}" 
        icon-data="editor:title" 
        require-data="true"
        error-data="{{projectNameError}}">
      </offshore-input>
      <offshore-input 
        label-data="Project Description" 
        value-data="{{currentProject.description}}" 
        icon-data="editor:text-fields"
        require-data="false">
      </offshore-input>
      <paper-dropdown-menu label="Organization Name" value="{{organizationName}}" disabled>
        <paper-listbox id="orgaDropdownListbox" slot="dropdown-content">
          <template is="dom-repeat" items="{{organizationData}}">
            <paper-item>[[item.name]]</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>
      <file-drop-zone 
        id="imagefiledropzone" 
        accept=".jpg, .png" 
        files="{{imageFile}}" 
        last-error="{{imageError}}" 
        on-error="_onError">
        <div slot="drop-zone" class="layout vertical center center-justified">
          <div class="title">Drag & Drop or Click to Upload an Image</div>
          <template is="dom-repeat" items="[[imageFile]]">
            <div class="file-item">[[item.name]]</div>
          </template>
        </div>
      </file-drop-zone>
      <br>
      <div id="visualizationContainer">
        <div id="projectJsonNotice">
          This is the json describing your project. It will be used to load the project terrain from Mapbox.<br><br>
          <b>If you know what you are doing</b> you can change:<br><br>
          <div>
            <p><i>zoom</i>: The zoom level the Mapbox tiles are loaded from. Higher zoom levels mean more tiles to load and render</p>
            <p><i>resolution</i>: The Mapbox tiles (height data) are loaded at resolution 256x256. They are downsampled to the given resolution. 64 is enough in most cases</p>
            <p><i>texResolution</i>: The Mapbox tiles (textures) are loaded at resolution 256x256. They are downsampled to the given resolution</p>
            <p><i>heightSubtractor</i>: The ocean depth of coasts in Mapbox is mostly around zero meters. Use this to display the terrain a little lower to avoid z-fighting with the ocean level</p>
          </div>
          <br>
          You should decide for these values before you place any objects. If you change them later, objects will not stay in place.
        </div>
      </div>
      <paper-textarea label="Visualization Data" value="{{visualizationJson.string}}"></paper-textarea>
      <div class="buttons-row">
        <paper-button id="saveButton" on-click="_saveProject" raised>Save</paper-button>
        <paper-button class="warn" on-click="_deleteProjectOptions" raised>Delete</paper-button>
      </div>
    </section>
  </template>

  <script>
    class OffShoreSettings extends Polymer.Element {
      static get is() { return 'offshore-settings'; }

      static get properties() {
        return {
          currentProject: {
            type: Object,
            notify: true,
            observer: '_currentProjectChanged'
          },
          organizationData: {
            type: Object,
            notify: true
          },
          visualizationJson: {
            type: Object,
            notify: true
          },
          projectNameError: Boolean,
          organizationName: String,
          tokenData: {
            type: String,
            notify: true
          },
          route: {
            type: Object,
            notify: true
          },
          projectDataChanged: {
            type: Boolean,
            notify: true
          },
          projectData: {
            type: Object,
            notify: true
          },
          imageFile: Object,
          imageError: Object
        };
      }

      _saveProject() {
        // Check whether the json can be parsed before doing anything else
        var jsonCouldBeParsed = true;
        try {
          JSON.parse(this.visualizationJson.string);
        }
        catch(e) {
          jsonCouldBeParsed = false;
        }

        if (jsonCouldBeParsed) {
          this.$.saveButton.disabled = true;
          let formData = new FormData();
          formData.append('name', this.currentProject.name);
          formData.append('description', this.currentProject.description);
          if (this.imageFile) {
            formData.append('image', this.imageFile[0]);
          }

          this.$.saveProjectAjax.body = formData;
          this.$.saveProjectAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
          this.$.saveProjectAjax.generateRequest();

          this.set('visualizationJson', {
            string: this.visualizationJson.string
          });
        }
        else {
          alert('The project json cannot be parsed. Please check for syntax errors');
        }
      }

      _handleSaveProjectResponse(e) {
        this.$.saveButton.disabled = false;
        this.set('currentProject.image', e.detail.response.project.image);
        this.set('projectDataChanged', true);
        this.set('route.path', '/projects/dashboard');
        this.$.imagefiledropzone.files = [];
      }

      _handleDeleteProjectResponse() {
        this.projectData.forEach((organization, organizationIndex) => {
          var projectIndex = organization.projects.findIndex(p => p.id == this.currentProject.id);
          if (projectIndex >= 0) {
            this.splice(`projectData.${organizationIndex}.projects`, projectIndex, 1);
          }
        });
        this.set('currentProject', {});
        this.set('projectDataChanged', true);
        this.set('route.path', '/projects/dashboard');
      }

      _deleteProjectOptions() {
        if (confirm('Once you delete a project, there is no going back.')) {
          this.$.deleteProjectAjax.body = {};
          this.$.deleteProjectAjax.headers['Authorization'] = 'Bearer ' + this.tokenData;
          this.$.deleteProjectAjax.generateRequest();
        }
      }

      _currentProjectChanged() {
        let orgaNum = this.projectData.findIndex(orga => orga.id == this.currentProject.organisation);
        if (orgaNum >= 0) {
          this.$.orgaDropdownListbox.select(orgaNum);
        }
      }
    }

    customElements.define(OffShoreSettings.is, OffShoreSettings);
  </script>
</dom-module>