<!-- A custom input. -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<dom-module id="offshore-input">
  <template>
    <style>
      paper-input {
        text-align: left;
      }

      iron-icon {
        padding-right: 8px;
      }
    </style>

    <paper-input 
      id="input" 
      label="[[labelData]]" 
      type={{typeData}} 
      value={{valueData}} 
      invalid={{errorData}} 
      required=[[requireData]]
      error-message="[[labelData]] is required." 
      readonly=[[readonly]]>
      <iron-icon icon="[[iconData]]" slot="prefix"></iron-icon>
      <paper-icon-button 
        slot="suffix" 
        on-click="_clear" 
        icon="clear" 
        alt="clear" 
        title="clear" 
        tabindex="-1">
      </paper-icon-button>
    </paper-input>
  </template>

  <script>
    class OffShoreInput extends Polymer.Element {
      static get is() { return 'offshore-input'; }

      static get properties() {
        return {
          labelData: String,
          valueData: {
            type: String,
            notify: true
          },
          errorData: {
            type: Boolean,
            notify: true
          },
          readonly: Boolean,
          iconData: String,
          typeData: String,
          requireData: Boolean
        };
      }

      _clear(e) {
        e.target.parentNode.value = '';
      }

      validate() {
        this.$.input.validate();
      }
    }

    customElements.define(OffShoreInput.is, OffShoreInput);
  </script>
</dom-module>