<!-- Login dialog at landing page. -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="offshore-input.html">

<dom-module id="offshore-login-dialog">
  <template>
    <style>
      paper-dialog {
        overflow-y: auto;
        margin: 80px 16px !important;
      }

      h2 {
        margin: 8px 0 -8px 0;
      }

      .buttons-row {
        text-align: right;
        margin: 0;
        padding: 0;
      }

      #loginDialog {
        width: 25%;
        min-width: 400px;
        padding: 16px;
      }

      #errorLabel {
        color: red;
      }

      /* mobile */

      @media screen and (max-width: 575px) {
        #loginDialog {
          width: 100%;
          min-width: 0;
        }
      }
    </style>

    <iron-ajax 
      id="loginAjax" 
      url="https://offshorewebapp.herokuapp.com/user/login" 
      method="POST" 
      content-type="application/json"
      handle-as="json" 
      on-response="_handleLoginResponse" 
      on-error="_handleLoginError">
    </iron-ajax>

    <paper-dialog id="loginDialog" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
      <h2>LOG IN</h2>
      <offshore-input 
        label-data="Email" 
        type-data="text" 
        value-data="{{loginEmail}}" 
        icon-data="mail" 
        require-data="true" 
        error-data="{{emailError}}" 
        on-keypress="_submitByKey">
      </offshore-input>
      <offshore-input 
        label-data="Password" 
        type-data="password" 
        value-data="{{loginPassword}}" 
        icon-data="lock" 
        require-data="true"
        error-data="{{passwordError}}" 
        on-keypress="_submitByKey">
      </offshore-input>
      <div id="errorLabel">{{errorString}}</div>
      <div class="buttons-row">
        <paper-button on-click="_cancel">CANCEL</paper-button>
          <paper-button id="submitButton" on-click="_submit">ACCEPT</paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
    class OffShoreLoginDialog extends Polymer.Element {
      static get is() { return 'offshore-login-dialog'; }

      static get properties() {
        return {
          loginEmail: String,
          loginPassword: String,
          errorString: String,
          emailError: Boolean,
          passwordError: Boolean,
          userData: {
            type: Object,
            notify: true
          },
          loginBody: {
            type: Object,
            value: {}
          },
          tokenData: {
            type: String,
            notify: true
          },
          route: {
            type: Object,
            notify: true
          }
        };
      }

      open() {
        this.$.loginDialog.open();
      }

      _setLoginBody() {
        this.set('loginBody.email', this.loginEmail);
        this.set('loginBody.password', this.loginPassword);
        this.$.loginAjax.body = this.loginBody;
      }

      _submit() {
        let inputs = this.$.loginDialog.getElementsByTagName('offshore-input');
        for (let i = 0; i < inputs.length; i++) {
          inputs[i].validate();
        }

        if (!this.emailError && !this.passwordError) {
          this._setLoginBody();
          this.$.loginAjax.generateRequest();
          this.$.submitButton.disabled = true;
        }
      }

      _resetInputs() {
        this.set('loginEmail', '');
        this.set('loginPassword', '');
        this.set('errorString', '');
      }

      _handleLoginResponse(e) {
        this.set('userData', e.detail.response.user);
        this.set('tokenData', e.detail.response.token);
        this.set('route.path', '/projects/dashboard');
        this.$.loginDialog.close();
        this.$.submitButton.disabled = false;
        this._resetInputs();
      }

      _handleLoginError(e) {
        this.$.submitButton.disabled = false;
        this.set('errorString', 'Username or password wrong');
      }

      _cancel() {
        this.$.loginDialog.close();
        this._resetInputs();
      }

      _submitByKey(e) {
        if (e.charCode === 13) {
          this._submit();
        }
      }
    }

    customElements.define(OffShoreLoginDialog.is, OffShoreLoginDialog);
  </script>
</dom-module>