<!-- Register dialog at landing page. -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../../bower_components/neon-animation/animations/fade-out-animation.html">

<link rel="import" href="offshore-input.html">

<dom-module id="offshore-register-dialog">
  <template>
    <style>
      paper-dialog {
        overflow-y: auto;
        margin: 80px 16px !important;
      }

      h2 {
        margin: 8px 0 -8px 0;
      }

      .buttons-row {
        text-align: right;
        margin: 0;
        padding: 0;
      }

      #registerDialog {
        width: 25%;
        min-width: 400px;
        padding: 16px;
      }

      #errorLabel {
        color: red;
      }

      /* mobile */

      @media screen and (max-width: 575px) {
        #registerDialog {
          width: 100%;
          min-width: 0;
        }
      }
    </style>

    <iron-ajax 
      id="registerAjax" 
      url="https://offshorewebapp.herokuapp.com/user/register" 
      method="POST" 
      content-type="application/json"
      handle-as="json" 
      on-response="_handleRegisterResponse" 
      on-error="_handleRegisterError">
    </iron-ajax>

    <paper-dialog id="registerDialog" entry-animation="scale-up-animation" exit-animation="fade-out-animation">
      <h2>REGISTER</h2>
      <offshore-input 
        label-data="Username" 
        value-data="{{registerUsername}}" 
        icon-data="face" 
        require-data="true" 
        error-data="{{usernameError}}" 
        on-keypress="_submitByKey">
      </offshore-input>
      <offshore-input 
        label-data="E-mail" 
        type-data="text" 
        value-data="{{registerEmail}}" 
        icon-data="mail" 
        require-data="true"
        error-data="{{emailError}}" 
        on-keypress="_submitByKey">
      </offshore-input>
      <offshore-input 
        label-data="Password" 
        type-data="password" 
        value-data="{{registerPassword}}" 
        icon-data="lock" 
        require-data="true"
        error-data="{{passwordError}}" 
        on-keypress="_submitByKey">
      </offshore-input>
      <offshore-input 
        label-data="Repeat Password" 
        type-data="password" 
        value-data="{{registerPassword2}}" 
        icon-data="lock" 
        require-data="true"
        error-data="{{passwordError}}" 
        on-keypress="_submitByKey">
      </offshore-input>
      <div id="errorLabel">{{errorString}}</div>
      <div class="buttons-row">
        <paper-button on-click="_cancel">CANCEL</paper-button>
        <paper-button id="submitButton" on-click="_submit">ACCEPT</paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
    class OffShoreRegisterDialog extends Polymer.Element {
      static get is() { return 'offshore-register-dialog'; }

      static get properties() {
        return {
          registerUsername: String,
          registerEmail: String,
          registerPassword: String,
          registerPassword2: String,
          errorString: String,
          usernameError: Boolean,
          emailError: Boolean,
          passwordError: Boolean,
          userData: {
            type: Object,
            notify: true
          },
          registerBody: {
            type: Object,
            value: {}
          },
          tokenData: {
            type: String,
            notify: true
          }
        };
      }

      open() {
        this.$.registerDialog.open();
      }

      _setRegisterBody() {
        this.set('registerBody.username', this.registerUsername);
        this.set('registerBody.email', this.registerEmail);
        this.set('registerBody.password', this.registerPassword);
        this.$.registerAjax.body = this.registerBody;
      }

      _submit() {
        let inputs = this.$.registerDialog.getElementsByTagName('offshore-input');
        for (let i = 0; i < inputs.length; i++) {
          inputs[i].validate();
        }

        if (this.registerPassword !== this.registerPassword2) {
          this.set('errorString', 'Passwords do not match');
        }
        else {
          if (!this.usernameError && !this.emailError && !this.passwordError) {
            this.set('errorString', '');
            this._setRegisterBody();
            this.$.registerAjax.generateRequest();
            this.$.submitButton.disabled = true;
          }
        }
      }

      _cancel() {
        this.$.registerDialog.close();
        this._resetInputs();
      }

      _resetInputs() {
        this.set('registerEmail', '');
        this.set('registerUsername', '');
        this.set('registerPassword', '');
        this.set('registerPassword2', '');
        this.set('errorString', '');
      }

      _handleRegisterResponse(e) {
        this.$.submitButton.disabled = false;
        this.set('userData', e.detail.response.user);
        this.set('tokenData', e.detail.response.token);
        this._resetInputs();
        this.$.registerDialog.close();
      }

      _handleRegisterError(e) {
        this.$.submitButton.disabled = false;
        this.set('errorString', 'Register not possible. Try a another/a longer username/password and a valid/unused email');
      }

      _submitByKey(e) {
        if (e.charCode === 13) {
          this._submit();
        }
      }
    }

    customElements.define(OffShoreRegisterDialog.is, OffShoreRegisterDialog);
  </script>
</dom-module>