<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="visualizationToolbar-component.html">
<link rel="import" href="visualizationDetailBox-component.html">
<link rel="import" href="visualizationGlobalDetailBox-component.html">


<dom-module id="visualization-component">
  <template>
    <style>
      /*body { margin: 0; }*/

      #canvasContainer canvas {
        position: absolute;
        /*width: 100% !important;*/
        /*height: 100% !important;*/
      }

      #canvasContainer {
        width: 100%;
        height: 100%;
      }

      #statsContainer > div {
        top: 500px !important;
        display: none;
      }

      .dg.main.a {
        margin-right: 70px;
      }

      .dg li.cr.function .property-name {
        width: 100% !important;
      }

      .visible {
        display: block !important;
      }
    </style>

    <!-- <canvas id="mainCanvas"></canvas> -->


    <div id="canvasContainer"></div>
  	<div style="position:relative">
      <visualizationdetailbox-component></visualizationdetailbox-component>
  		<visualizationglobaldetailbox-component current-project="{{currentProject}}"></visualizationglobaldetailbox-component>
  	</div>
    <div id="statsContainer"></div>
    <visualizationtoolbar-component></visualizationtoolbar-component>
  </template>

  <script>
    class VisualizationComponent extends Polymer.Element {
      static get is() { return 'visualization-component'; }

      static get properties() {
        return {
          currentProject: {
            type: Object,
            notify: true,
            observer: '_projectChanged'
          },
          lastProjectLoaded: {
            type: String,
            value: ''
          },
          currentMenu: {
            type: String,
            notify: true,
            observer: '_currentMenuChanged'
          },
          projectWaitingToBeLoaded: {
            type: Boolean,
            value: false
          }
        };
      }

      ready() {
        super.ready();

        var canvasContainer = this.$.canvasContainer;
        var statsContainer = this.$.statsContainer;

        // Dom is finally ready after timeout of 0
        setTimeout(() => {
          initVisualization(canvasContainer, statsContainer);
          render(0);
          document.querySelectorAll('.dg.main.a li.cr.function .property-name').forEach(obj => obj.style.width='100%');
        }, 0);
      }

      saveProjectData(projectOptions) {
        if (this.currentProject) {
          // This will update projectOptions and notify observers of the projectOptions sub-property
          this.set('currentProject.projectOptions', projectOptions);

          // This will indicate that there are unsaved changes
          this.set('currentProject.dirty', true);
        }
      }

      _loadProject() {
        if (scene) { // only if initVisualization() was already called
          if (project) {
            // Not working properly yet, if this is called, the next loaded project is not shown correctly
            // project.destroy();
            project = null;
            if (renderer) {
              renderer.clear();
            }
          }
          if (this.currentProject && this.currentProject.projectOptions) {
            var dontResetCamera = this.currentProject.id == this.lastProjectLoaded;
            project = new Project(this.currentProject.projectOptions, this);
            project.load(dontResetCamera);
            this.lastProjectLoaded = this.currentProject.id;
          }
        }
      }

      _currentMenuChanged() {
        if (this.currentMenu == 'visualization' && this.projectWaitingToBeLoaded) {
          this._loadProject();
          this.set('projectWaitingToBeLoaded', false);
        }
      }

      _projectChanged() {
        this.set('projectWaitingToBeLoaded', true);
        if (this.currentMenu == 'visualization') {
          this._loadProject();
        }
      }
    }

    customElements.define(VisualizationComponent.is, VisualizationComponent);
  </script>

  <!-- <script src="../../visualization/js/jimp/jimp.min.js" defer></script> -->
  <script src="../../visualization/js/pngjs/pngreader.js" defer></script>
  <script src="../../visualization/js/three/three_fixed.js" defer></script>
  <!-- <script src="../../visualization/js/three/THREE.MeshLine.js" defer></script> -->
  <script src="../../visualization/js/three/stats.min.js" defer></script>
  <script src="../../visualization/js/three/loaders/OBJLoader.js" defer></script>
  <script src="../../visualization/js/three/loaders/MTLLoader.js" defer></script>
  <script src="../../visualization/js/three/controls/OrbitControls_fixed.js" defer></script>
  <script src="../../visualization/js/three/libs/dat.gui.min.js" defer></script>
  <script src="../../visualization/js/ensy/entity-manager_fixed.js" defer></script>
  <script src="../../visualization/js/ensy/my-entity-manager.js" defer></script>
  <script src="../../visualization/js/ECS.js" defer></script>
  <script src="../../visualization/js/components.js" defer></script>
  <script src="../../visualization/js/systems.js" defer></script>

  <script src="../../visualization/js/three/shaders/CopyShader.js" defer></script>
  <script src="../../visualization/js/three/shaders/FXAAShader.js" defer></script>
  <script src="../../visualization/js/three/postprocessing/EffectComposer.js" defer></script>
  <script src="../../visualization/js/three/postprocessing/RenderPass.js" defer></script>
  <script src="../../visualization/js/three/postprocessing/ShaderPass.js" defer></script>
  <script src="../../visualization/js/three/postprocessing/OutlinePass_fixed.js" defer></script>
  <script src="../../visualization/js/rendering.js" defer></script>
  <script src="../../visualization/js/camera.js" defer></script>
  <script src="../../visualization/js/shaders/terrainGrid.vert.js" defer></script>
  <script src="../../visualization/js/shaders/terrainGrid.frag.js" defer></script>

  <script src="../../visualization/js/project.js" defer></script>
  <script src="../../visualization/js/terrain.js" defer></script>
  <script src="../../visualization/js/mockLive.js" defer></script>
  <script src="../../visualization/js/input.js" defer></script>
  <script src="../../visualization/js/lighting.js" defer></script>
  <script src="../../visualization/js/generalGeometry.js" defer></script>
  <script src="../../visualization/js/skybox.js" defer></script>
  <script src="../../visualization/js/ocean.js" defer></script>
  <script src="../../visualization/js/projectObjects.js" defer></script>
  <script src="../../visualization/js/editing.js" defer></script>
  <script src="../../visualization/js/compass.js" defer></script>
  <script src="../../visualization/js/main.js" defer></script>
</dom-module>