<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="visualizationToolBarIconBox-component.html">

<dom-module id="visualizationtoolbar-component">
  <template>
  <link rel="stylesheet" href="../../../bower_components/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../../bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
  <!-- https://github.com/zavoloklom/material-design-iconic-font -->
  <!-- http://zavoloklom.github.io/material-design-iconic-font/icons.html -->
    <style>
      #toolbar {
        width: 50px;

        position: absolute;
        top: 100px;
        right: 10px;

        
        text-align: center;
      }

      #toolbar .double-icon, #toolbar .divider {
        margin-bottom: 15px;
      }

      .double-icon {
        position: relative;
      }

      .double-icon .buttonbox {
        display: none;
      }

      .double-icon .buttonbox.opened {
        display: block;
      }

      .double-icon.active .background > .icon {
        color: white;
      }
    
      span.background {
        font-size: 30pt;
        color: #888;
      }
      
      span.front {
        top: 30px;
        left: 30px;
        position: absolute;
      }

      span.front .icon {
        color: yellow;
        display: none;
        font-size: 15pt;
      }

      #settingbox {
        width: 230px;

        position: absolute;
        top: 0px;
        right: 80px;
        text-align: left;
        display: none;
      }

      .visible {
        display: block !important;
      }
     
      .buttonbox {  
        position: absolute;
        top: -10px;
        right: 90px;
        text-align: left;
      }

      .buttonbox .icon {
        color: white;
        margin-left: 3px;
        vertical-align: bottom;
      }

      .buttonbox .icon.extra-space-left-right {
        margin-left: 15px;
        margin-right: 10px;
      }
   
      .infobox {
        background-color: #333;
        opacity: 0.9;
        border-radius: 10px;
        color: white;
        padding: 13px 10px 13px 10px;
      }

      #toolbar .double-icon.last {
        margin-bottom: 0px !important;
      }

      .icon.active {
        color: white;
      }
      .icon.active2 {
      }
      .checkbox {
        display: flex;
		    justify-content: space-between;
      }

      .divider {
        margin-left: 4px;
        margin-right: 4px;
        border-bottom: 2px solid #888;
      }

      #constructionButtonbox {
        width: 265px;
      }

      #restrictionButtonbox {
        width: 165px;
      }

      /* mobile */

      @media screen and (max-width: 575px), screen and (max-height: 575px) {
        #toolbar {
          width: 30px;
        }

        #toolbar .double-icon, #toolbar .divider {
          margin-bottom: 8px;
        }

        span.background {
          font-size: 15pt;
        }

        span.front {
          top: 15px;
          left: 15px;
        }

        span.front .icon {
          font-size: 10pt;
        }

        #constructionButtonbox {
          width: 170px;
        }

        #restrictionButtonbox {
          width: 100px;
        }

        #settingbox {
          width: 170px;
          font-size: 12px;
          right: 60px;
        }

        #settingbox button {
          font-size: 12px;
        }

        #settingbox .checkbox {
          margin-bottom: -3px;
        }
      }

      @media screen and (max-height: 575px) {
        #settingbox {
          top: -113px;
        }
      }
    </style>

    <div id="toolbar" class="infobox">
      <span id="def" title="default" data-editingmode="mode_default" on-click="toolbarSimpleIconClicked" class="group1 icon zmdi zmdi-3d-rotation active background double-icon" aria-hidden="true"></span>

      <div id="constructionSet" class="double-icon group1">
        <div on-click="toolbarDoubleIconClicked">
          <span class="background">
            <span id="construct" title="0" class="icon fa fa-cube" aria-hidden="true"></span>
          </span>
          <span class="front">
            <span data-editingmode="mode_move" class="icon fa fa-arrows" aria-hidden="true"></span>
            <span data-editingmode="mode_createWindmill" class="icon zmdi zmdi-toys" aria-hidden="true"></span>
            <span data-editingmode="mode_createPowerstation" class="icon fa fa-industry" aria-hidden="true"></span>
            <span data-editingmode="mode_createWiring" class="icon fa fa-bolt" aria-hidden="true"></span> <!-- fa-link, fa-bolt -->
            <span data-editingmode="mode_remove" class="icon fa fa-eraser" aria-hidden="true"></span>
          </span>
        </div>

        <div id="constructionButtonbox" class="buttonbox infobox">
          <span data-editingmode="mode_move" title="Move existing objects" on-click="buttonBoxIconClicked"  class="icon background fa fa-arrows" aria-hidden="true"></span>
          <span data-editingmode="mode_createWindmill" title="Create windmills" on-click="buttonBoxIconClicked" class="icon background zmdi zmdi-toys extra-space-left-right" aria-hidden="true"></span> <!-- glyphicon glyphicon-king --> 
          <span data-editingmode="mode_createPowerstation" on-click="buttonBoxIconClicked" class="icon background fa fa-industry" aria-hidden="true"></span>
          <span data-editingmode="mode_createWiring" on-click="buttonBoxIconClicked" class="icon background fa fa-bolt extra-space-left-right" aria-hidden="true"></span> <!-- fa-link, fa-bolt -->
          <span on-click="buttonBoxIconClicked" data-editingmode="mode_remove" class="icon background fa fa-eraser" aria-hidden="true"></span>
        </div>
      </div>

      <div id="restrictionSet" class="double-icon group1">
        <div on-click="toolbarDoubleIconClicked">
          <span class="background">
            <span id="restrictArea" title="restrictArea" class="icon fa fa-ban background" aria-hidden="true"></span>
          </span>
          <span class="front">
            <span data-editingmode="mode_restrictArea" class="icon zmdi zmdi-border-style" aria-hidden="true"></span>
            <span data-editingmode="mode_restrictAreaCircle" class="icon fa fa-circle-thin" aria-hidden="true"></span>
            <span data-editingmode="mode_removeRestrictedArea" class="icon fa fa fa-eraser" aria-hidden="true"></span>
          </span>
        </div>
        <div id="restrictionButtonbox" class="buttonbox infobox">
          <span data-editingmode="mode_restrictArea" title="Move existing objects" on-click="buttonBoxIconClicked"  class="icon background zmdi zmdi-border-style" aria-hidden="true"></span>
          <span data-editingmode="mode_restrictAreaCircle" title="Create windmills" on-click="buttonBoxIconClicked" class="icon background fa fa-circle-thin extra-space-left-right" aria-hidden="true"></span>
          <span data-editingmode="mode_removeRestrictedArea" on-click="buttonBoxIconClicked" class="icon background fa fa-eraser" aria-hidden="true"></span>
        </div>
      </div>

      <!-- <span on-click="undo" title="undo" class="group1 icon fa fa-undo background double-icon" aria-hidden="true"></span> -->

      <div class="divider"></div>

      <div class="double-icon last">
        <span class="background">
          <span class="icon fa fa-cog" aria-hidden="true" on-click="settingsclicked"></span>
        </span>

        <div id="settingbox" class="infobox">
          <div class="checkbox">Live <input type="checkbox" data-setting="liveDataEnabled" on-change="settingsCheckboxClicked" /></div>
          <div class="checkbox">Mock Live Data <input type="checkbox" data-setting="spamLiveData" on-change="settingsCheckboxClicked" /></div>
          <div class="checkbox">Show grid <input type="checkbox" data-setting="gridVisible" on-change="settingsCheckboxClicked" /></div>
          <div class="checkbox">Show ground <input type="checkbox" data-setting="groundVisible" on-change="settingsCheckboxClicked" /></div>
          <div class="checkbox">Show seaplane <input type="checkbox" data-setting="seaplaneVisible" on-change="settingsCheckboxClicked" /></div>
          <div class="checkbox">Show global info <input type="checkbox" data-setting="globalInfoWindowVisible" on-change="settingsCheckboxClicked" /></div>
          <div class="checkbox">Show FPS window <input type="checkbox" data-setting="fpsWindowEnabled" on-change="settingsCheckboxClicked" /></div>
          <div class="checkbox">Show extra controls menu <input type="checkbox" data-setting="extraControlsMenuEnabled" on-change="settingsCheckboxClicked" /></div>
          <!-- <button on-click="changeRes0">Full Resolution</button><br>
          <button on-click="changeRes1">Lower Resolution</button><br>
          <button on-click="changeRes2">Even Lower Resolution</button><br> -->
        </div>
      </div>
    </div>
  </template>

  <script>
    class VisualizationtoolbarComponent extends Polymer.Element {
      static get is() { return 'visualizationtoolbar-component'; }

      static get properties() {
        return {};
      }

      ready() {
        super.ready();
        frontendToolbar = this;

        // Init checkbox checked status from global settings object
        this.$.settingbox.querySelectorAll('.checkbox input').forEach(checkbox => {
          checkbox.checked = globalSettings[checkbox.dataset.setting];
        });
      }

      changeRes(resMode) {
        globalSettings.resolutionMode = resMode;
        visu_onWindowResize();
      }

      changeRes0() {
        this.changeRes(0);
      }
      changeRes1() {
        this.changeRes(1);
      }
      changeRes2() {
        this.changeRes(2);
      }

      toolbarSimpleIconClicked(event) {
        var editingmode = event.currentTarget.dataset.editingmode;
        switchMode(editingmode);
      }

      removeActiveClasses() {
        this.shadowRoot.querySelectorAll('.group1.active').forEach(el => el.classList.remove('active'));
      }

      highlightActiveToolbarIcons(editingmode) {
        this.shadowRoot.querySelectorAll('.double-icon[data-editingmode='+editingmode+']').forEach(el => el.classList.add('active'));

        var elementsInButtonBox = this.shadowRoot.querySelectorAll('.front .icon[data-editingmode='+editingmode+']');
        elementsInButtonBox.forEach(el => el.parentNode.parentNode.parentNode.classList.add('active'));

        if (elementsInButtonBox.length > 0) {
          var icon = this.shadowRoot.querySelectorAll('[data-editingmode=' + editingmode + ']')[0];
          icon.parentNode.classList.add('visible');
          icon.classList.add('visible');
        }
      }
    
      toolbarDoubleIconClicked(event) {
        switchMode('mode_default', false); // Silently switch to default (camera) mode
        this.removeActiveClasses();

        // Highlight icon for open menu
        event.currentTarget.parentNode.classList.add('active');
        event.currentTarget.parentNode.querySelector(".buttonbox").classList.add('opened');
      }

      hideFrontIcons() {
        var icons = this.shadowRoot.querySelectorAll('.front .icon.visible');
        icons.forEach(box => box.classList.remove('visible'));
      }

      hideButtonBoxes() {
        var boxes = this.shadowRoot.querySelectorAll('.buttonbox');
        boxes.forEach(box => box.classList.remove('opened'));
      }
    
      buttonBoxIconClicked(event) {
        var editingmode = event.target.dataset.editingmode;
        switchMode(editingmode);
      }

      modeHasChanged(editingmode) {
        this.hideButtonBoxes();
        this.hideFrontIcons();
        this.removeActiveClasses();
        this.removeActiveClasses();
        this.highlightActiveToolbarIcons(editingmode);
      }
            
      settingsclicked(event) {
        this.$.settingbox.classList.toggle('visible');
        event.currentTarget.classList.toggle('active');     
      }

      settingsCheckboxClicked(event) {
        globalSettings[event.currentTarget.dataset.setting] = event.currentTarget.checked;
      }
    }

    customElements.define(VisualizationtoolbarComponent.is, VisualizationtoolbarComponent);
  </script>

</dom-module>