<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<dom-module id="visualizationglobaldetailbox-component">
  <template>
    <link rel="stylesheet" href="../../../bower_components/components-font-awesome/css/font-awesome.min.css">
    <style>
      :host {
        font-size: 16px;
      }

      #detailbox {
        width: 250px;

        position:absolute;
        bottom: 20px;
        right: 20px;
        padding: 13px 10px 13px 10px;
        text-align: left;
      }
      .infobox {
        background-color: #333;
        opacity: 0.9;
        border-radius: 10px;
        color: white;
      }
    
      .itemValue {
        float: right; 
      }
    
      .header {
        font-size: 19px;
      }

      button {
        margin-top: 15px;
        float: right;
      }

      .shaking {
        -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
        -moz-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
        -ms-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }

      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0);
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
          transform: translate3d(4px, 0, 0);
        }
      }

      .shakingrotation {
        -webkit-animation: shakerotation 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
        transform: rotate(0deg);
        backface-visibility: hidden;
        perspective: 1000px;
      }

      @keyframes shakerotation {
        10%, 90% {
          transform: rotate(-2deg);
        }
        
        20%, 80% {
          transform: rotate(4deg);
        }

        30%, 50%, 70% {
          transform: rotate(-8deg);
        }

        40%, 60% {
          transform: rotate(8deg);
        }
      }

      /* mobile */

      @media screen and (max-width: 575px) {
        :host {
          font-size: 12px;
        }

        .header {
          font-size: 15px;
        }

        #detailbox {
          width: 160px;
        }
      }

      /*@media screen and (max-height: 500px) {
        #detailbox {
          right: 100px;
        }
      }*/

      @media screen and (max-height: 365px) {
        #detailbox {
          right: 70px;
        }
      }
    </style>
  
    <div id="detailbox" class="infobox" style="display: none">
      <span class="header">
        <b>{{title}}</b>
        <template is="dom-if" if="{{currentProject.dirty}}">
          &nbsp;&nbsp;<span title="Currently saving" class="fa fa-floppy-o shakingrotation shaking" aria-hidden="true"></span>
        </template>
      </span><br>
      <template is="dom-repeat" items="{{properties}}">
        <div>
          <span>{{item.name}}</span>
          <span class="itemValue">{{item.value}}</span>
        </div>
      </template>
    </div>
  </template>

  <script>
    class VisualizationglobaldetailboxComponent extends Polymer.Element {
      static get is() { return 'visualizationglobaldetailbox-component'; }

      static get properties() {
        return {
          currentProject: {
            type: Object,
            value: {}
          }
        };
      }
    
      ready() {
        super.ready();
        // Global reference to this box
        visualizationGlobalDetailBox = this;
      }

      updateDetailBox(details){
        if (details == null){
          this.$.detailbox.style.display = "none";
        } else {
          this.$.detailbox.style.display = "block";
          this.title = details.title;
          this.properties = details.properties;
          this.entityId = details.entityId;
        }
      }
    }

    customElements.define(VisualizationglobaldetailboxComponent.is, VisualizationglobaldetailboxComponent);
  </script>

</dom-module>