<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="visualizationtoolbariconbox-component">
  <template>
    <style>
      .icon {
        margin-bottom: 20px;
        color: #888;
      }
	  
	  .icon.last {
        margin-bottom: 0px !important;
      }

      .icon.active {
        color: white;
      }
	  
	  .icon.background{
		font-size: 30pt;
	  }
	  
	  .icon.front{
		font-size: 10pt;
	  }
    </style>
	<template is="dom-if" if="{{materialicon}}" preserve-content>
		<span id="icon" on-click="onclick" class="icon {{materialicon}} background" aria-hidden="true">{{iconstring}}</span><br>
	</template>
	
	<template is="dom-if" if="{{faicon1}}" preserve-content>
		<span id="construct" on-click="onclick" class$="icon {{iconstring}} background" aria-hidden="true"></span>
		<span id="restrict" on-click="onclick" class$="icon {{iconstring2}} background" aria-hidden="true"></span>
	</template>
  </template>	
  <script>
    class VisualizationToolBarIconBoxComponent extends Polymer.Element {
      static get is() { return 'visualizationtoolbariconbox-component'; }

      static get properties() {
        return {
			iconstring: String,
			iconstring2: String,
			mode: String,
			materialicon: Boolean,
			faicon1: Boolean,
			faicon2: Boolean				
		};
      }
	  
	  ready() {
		super.ready();
		return;
	  }
	  
      onclick(event){
		switchMode("mode_" + this.mode);
		this.removeActive();
		this.setActive(event.target.id);
	  }
	  
	  setActive(id) {
		this.shadowRoot.querySelector('#'+id).classList.add('active');
	  }
	  
	  removeActive(){	
		//Polymer.dom(this.root).querySelector('#restrict').classList.remove('active');
		this.shadowRoot.querySelector('#restrict').classList.remove('active');
		this.shadowRoot.querySelector('#construct').classList.remove('active');
	  }
    }

    customElements.define(VisualizationToolBarIconBoxComponent.is, VisualizationToolBarIconBoxComponent);
  </script>

</dom-module>