<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<dom-module id="visualizationdetailbox-component">
  <template>
    <style>
      #detailbox {
        width: 200px;

        position:absolute;
        bottom: 20px;
        left: 20px;
        padding: 13px 10px 13px 10px;
        text-align: left;
      }
      .infobox {
        background-color: #333;
        opacity: 0.9;
        border-radius: 10px;
        color: white;
      }
    
      .itemValue {
        float: right; 
      }
    
      .header {
        font-size: 120%;
      }

      button {
        margin-top: 15px;
        float: right;
      }

      /* mobile */

      @media screen and (max-width: 575px) {
        :host {
          font-size: 12px;
        }

        .header {
          font-size: 15px;
        }

        #detailbox {
          width: 150px;
        }

        button {
          margin-top: 3px;
        }
      }
    </style>
  
    <div id="detailbox" class="infobox" style="display:none">
      <span class="header"><b>{{title}}</b></span></br>
      <template is="dom-repeat" items="{{properties}}">
        <div>
          <span>{{item.name}}</span>
          <span class="itemValue">{{item.value}}</span>
        </div>
      </template>
      <button on-click="setLiveId">Set Live Id</button>
    </div>
  </template>

  <script>
    class VisualizationdetailboxComponent extends Polymer.Element {
      static get is() { return 'visualizationdetailbox-component'; }

      static get properties() {
        return {};
      }
    
      ready() {
        super.ready();
        // Global reference to this box
        visualizationDetailBox = this;
      }

      updateDetailBox(details){
        if (details == null){
          this.$.detailbox.style.display = "none";
        } else {
          this.$.detailbox.style.display = "block";
          this.title = details.title;
          this.properties = details.properties;
          this.entityId = details.entityId;
        }
      }

      setLiveId() {
        var newLiveIdStr = prompt("Please enter the new live id, leave the field empty to remove the live data connection", "");
        if (newLiveIdStr == "") {
          project.removeEntityLiveDataConnection(this.entityId);
        }
        else {
          project.setEntityLiveId(this.entityId, newLiveIdStr);
        }
        project.save();
      }
    }

    customElements.define(VisualizationdetailboxComponent.is, VisualizationdetailboxComponent);
  </script>

</dom-module>